<!DOCTYPE html>
<html lang="en-us">

	<head>
		{{ template "head.tmpl" }}
	</head>

	<body class="minified smart-style-1">

		{{ template "topnav.tmpl" }}

		{{ template "sidenav.tmpl" . }}

		<!-- MAIN PANEL -->

        <div id="main" role="main">

			<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li><a href="#">Company Information</a></li><li><a href="#">Job Information Overview</a></li><li><a href="#">Job Information</a></li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>

			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-building"></i>
								Job Information
						</h1>
					</div>
				</div>

                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-6">

						<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
							<!-- widget options:
							usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

							data-widget-colorbutton="false"
							data-widget-editbutton="false"
							data-widget-togglebutton="false"
							data-widget-deletebutton="false"
							data-widget-fullscreenbutton="false"
							data-widget-custombutton="false"
							data-widget-collapsed="true"
							data-widget-sortable="false"

							-->
							<header>
								<span></span>
								<h2>Job Information</h2>
							</header>

							<!-- widget div-->
							<div>

								<!-- widget content -->
                                <div class="widget-body no-padding">

										<form class="smart-form">

											<article class="col-lg-4">
													<fieldset>
														<section>
															<label class="label">Name:</label>
															<label class="input">
																<input type="text" class="input-sm">
															</label>
														</section>
														<section>
															<label class="label">Series:</label>
															<label class="input">
																<input type="text" class="input-sm">
															</label>
														</section>
														<section>
															<label class="label">Grade:</label>
															<label class="input">
																<input type="text" class="input-sm">
															</label>
														</section>
														<section>
															<label class="label">Code:</label>
															<label class="input">
																<input type="text" class="input-sm">
															</label>
														</section>
													</fieldset>
											</article>

											<article class="col-lg-8">
												<fieldset>
													<section>
														<label class="label">Details:</label>
														<label class="textarea textarea-resizable">
															<textarea rows="12" class="custom-scroll">Secure space agreements with a minimum of six airlines per refion: USA, Europe, Northern Asian. Secure a minimum of 25 air transportation customers.</textarea>
														</label>
													</section>

												</fieldset>
											</article>

										</form>

									</div>
								<!-- end widget content -->

							</div>
							<!-- end widget div -->

						</div>
						<!-- end widget -->

                    </article>

					<article class="col-sm-12 col-md-12 col-lg-6">

						<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
							<!-- widget options:
							usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

							data-widget-colorbutton="false"
							data-widget-editbutton="false"
							data-widget-togglebutton="false"
							data-widget-deletebutton="false"
							data-widget-fullscreenbutton="false"
							data-widget-custombutton="false"
							data-widget-collapsed="true"
							data-widget-sortable="false"

							-->
							<header>
								<span></span>
								<h2>Job Search</h2>
							</header>

							<!-- widget div-->
							<div>

								<!-- widget content -->
                                <div class="widget-body no-padding">

										<form class="smart-form">


											<fieldset>
												<div class="form-group">
													<label>Company Job</label>
													<select style="width:100%" class="select2">
														<option>&nbsp;&nbsp;&nbsp;Choose a Job</option>
														<optgroup label="Sales">
															<option>Account Manager</option>
                                                            <option>Salesperson</option>
                                                            <option>System Admin</option>
                                                            <option>Developer</option>
                                                            <option>Nurse</option>
														</optgroup>
													</select>
												</div>
											</fieldset>

										</form>

									</div>
								<!-- end widget content -->

							</div>
							<!-- end widget div -->

						</div>
						<!-- end widget -->

                    </article>

					<!-- NEW COL START -->
					<article class="col-sm-12 col-md-12 col-lg-6">

						<!-- Widget ID (each widget will need unique ID)-->

					</article>


				</div>

				<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
					<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"

					-->
					<header>
						<ul class="nav nav-tabs in">

							<li class="active">
								<a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down hidden-mobile hidden-tablet"></i> Job Tasks</a>
							</li>

							<li>
								<a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-down hidden-mobile hidden-tablet"></i> Job Properties</a>
							</li>

						</ul>
					</header>

					<!-- widget div-->
					<div>
						<!-- widget content -->
						<div class="widget-body">

							<div class="tab-content">
								<div class="tab-pane active" id="hr1">
									<section id="T">
										<table class="table dataTable click table-hover table-bordered" style="width:100%;">
											<thead>
												<tr>
													<th class="hasinput">
														<input type="text" class="form-control" placeholder="Filter" />
													</th>
													<th class="hasinput">
														<input type="text" class="form-control" placeholder="Filter" />
													</th>
													<th class="hasinput">
														<input type="text" class="form-control" placeholder="Filter" />
													</th>
													<th class="hasinput">
														<input type="text" class="form-control" placeholder="Filter" />
													</th>
													<th>
														<div class="text-center">
															<button type="button" data-toggle="modal" data-target="#modaltask" class="btn btn-sm btn-default" >
																Add
															</button>
														</div>
													</th>
												</tr>
												<tr>
													<th data-class="expand">Task</th>
													<th>Job Function</th>
													<th data-hide="phone,tablet">Weekly Task %</th>
													<th data-hide="phone,tablet">Notes</th>
													<th class="text-center">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr id="click">
													<td>Wite job offer letter</td>
													<td>Buisness Leadership</td>
													<td>5%</td>
													<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</td>
													<td class="text-center" style="width:12%;">
														<a data-toggle="modal" data-target="#modaltask" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
															<i class="fa fa-pencil-square-o"></i>
														</a>
														<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
															<i class="fa fa-trash"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</section>
									<section id="SKB" class="hide">
										<div class="tab-pane">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#skills" data-toggle="tab">Skills</a>
												</li>
												<li>
													<a href="#knowledge" data-toggle="tab">Knowledge</a>
												</li>
												<li>
													<a href="#behavior" data-toggle="tab">Behavior</a>
												</li>
												<li>
													<a href="#measurements" data-toggle="tab">Measurements</a>
												</li>
												<li>
													<a href="#procedures" data-toggle="tab">Preocedures and Job Aids</a>
												</li>
											</ul>
											<div class="tab-content padding-12">
												<div class="tab-pane active" id="skills">

													<table class="table dataTable  table-bordered" style="width:100%;">
		                                                <thead>
															<tr>
																<th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
						                                        <th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
																<th>
																	<div class="text-center">
																		<button type="button" data-toggle="modal" data-target="#modalskills" class="btn btn-sm btn-default" >
																			Add
																		</button>
																		<button type="button" class="btn btn-sm cancel btn-default" >
																			Cancel
																		</button>
																	</div>
																</th>
															</tr>
		                                                    <tr>
		                                                        <th data-class="expand">Name</th>
		                                                        <th data-hide="phone,tablet" >Details</th>
		                                                        <th class="text-center">Action</th>
		                                                    </tr>
		                                                </thead>
		                                                <tbody>
															<td>Employee Skills</td>
															<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                    <td class="text-center" style="width:12%;">
		                                                        <a data-toggle="modal" data-target="#modalskills" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																	<i class="fa fa-pencil-square-o"></i>
		                                                        </a>
																<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
		                                                            <i class="fa fa-trash"></i>
		                                                        </a>
		                                                    </td>
		                                                </tbody>
		                                            </table>

												</div>
												<div class="tab-pane fade" id="knowledge">

													<table class="table dataTable  table-bordered" style="width:100%;">
		                                                <thead>
															<tr>
																<th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
						                                        <th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
																<th>
																	<div class="text-center">
																		<button type="button" data-toggle="modal" data-target="#modalknowledge" class="btn btn-sm btn-default" >
																			Add
																		</button>
																		<button type="button" class="btn btn-sm cancel btn-default" >
																			Cancel
																		</button>
																	</div>
																</th>
															</tr>
		                                                    <tr>
		                                                        <th data-class="expand">Name</th>
		                                                        <th>Details</th>
		                                                        <th class="text-center">Action</th>
		                                                    </tr>
		                                                </thead>
		                                                <tbody>
															<td>Employee Knowledge</td>
															<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                    <td class="text-center" style="width:12%;">
		                                                        <a data-toggle="modal" data-target="#modalknowledge" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																	<i class="fa fa-pencil-square-o"></i>
		                                                        </a>
																<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
		                                                            <i class="fa fa-trash"></i>
		                                                        </a>
		                                                    </td>
		                                                </tbody>
		                                            </table>

												</div>
												<div class="tab-pane fade" id="behavior">

													<table class="table dataTable  table-bordered" style="width:100%;">
		                                                <thead>
															<tr>
																<th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
						                                        <th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
																<th>
																	<div class="text-center">
																		<button type="button" data-toggle="modal" data-target="#modalbehavior" class="btn btn-sm btn-default" >
																			Add
																		</button>
																		<button type="button" class="btn btn-sm cancel btn-default" >
																			Cancel
																		</button>
																	</div>
																</th>
															</tr>
		                                                    <tr>
		                                                        <th data-class="expand">Name</th>
		                                                        <th data-hide="phone,tablet">Details</th>
		                                                        <th class="text-center">Action</th>
		                                                    </tr>
		                                                </thead>
		                                                <tbody>
															<td>Employee Beahvior</td>
															<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                    <td class="text-center" style="width:12%;">
		                                                        <a data-toggle="modal" data-target="#modalbehavior" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																	<i class="fa fa-pencil-square-o"></i>
		                                                        </a>
																<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
		                                                            <i class="fa fa-trash"></i>
		                                                        </a>
		                                                    </td>
		                                                </tbody>
		                                            </table>

												</div>
												<div class="tab-pane fade" id="measurements">

													<table class="table dataTable  table-bordered" style="width:100%;">
		                                                <thead>
															<tr>
																<th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
						                                        <th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
																<th>
																	<div class="text-center">
																		<button type="button" data-toggle="modal" data-target="#modalmeasurements" class="btn btn-sm btn-default" >
																			Add
																		</button>
																		<button type="button" class="btn btn-sm cancel btn-default" >
																			Cancel
																		</button>
																	</div>
																</th>
															</tr>
		                                                    <tr>
		                                                        <th data-class="expand">Name</th>
		                                                        <th data-hide="phone,tablet">Details</th>
		                                                        <th class="text-center">Action</th>
		                                                    </tr>
		                                                </thead>
		                                                <tbody>
															<td>Employee Measurements</td>
															<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                    <td class="text-center" style="width:12%;">
		                                                        <a data-toggle="modal" data-target="#modalmeasurements" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																	<i class="fa fa-pencil-square-o"></i>
		                                                        </a>
																<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
		                                                            <i class="fa fa-trash"></i>
		                                                        </a>
		                                                    </td>
		                                                </tbody>
		                                            </table>

												</div>
												<div class="tab-pane fade" id="procedures">

													<table class="table dataTable  table-bordered" style="width:100%;">
		                                                <thead>
															<tr>
																<th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
						                                        <th class="hasinput">
																	<input type="text" class="form-control" placeholder="Filter" />
																</th>
																<th>
																	<div class="text-center">
																		<button type="button" data-toggle="modal" data-target="#modalprocedures" class="btn btn-sm btn-default" >
																			Add
																		</button>
																		<button type="button" class="btn btn-sm cancel btn-default" >
																			Cancel
																		</button>
																	</div>
																</th>
															</tr>
		                                                    <tr>
		                                                        <th data-class="expand">Name</th>
		                                                        <th data-hide="phone,tablet">Details</th>
		                                                        <th class="text-center">Action</th>
		                                                    </tr>
		                                                </thead>
		                                                <tbody>
															<td>Employee Procedures</td>
															<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                    <td class="text-center" style="width:12%;">
		                                                        <a data-toggle="modal" data-target="#modalprocedures" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																	<i class="fa fa-pencil-square-o"></i>
		                                                        </a>
																<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
		                                                            <i class="fa fa-trash"></i>
		                                                        </a>
		                                                    </td>
		                                                </tbody>
		                                            </table>

												</div>
											</div>

										</div>
									</section>

								</div>
								<div class="tab-pane" id="hr2">

									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#departments" data-toggle="tab">Departments</a>
										</li>
										<li>
											<a href="#required" data-toggle="tab">Required Learning</a>
										</li>
										<li>
											<a href="#interview" data-toggle="tab">Interview Questions</a>
										</li>
										<li>
											<a href="#success" data-toggle="tab">Success Enablers</a>
										</li>
										<li>
											<a href="#accountability" data-toggle="tab">Accountability Factors</a>
										</li>
									</ul>
									<div class="tab-content padding-12">
										<div class="tab-pane active" id="departments">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modaldepartments" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
                                                    <tr>
                                                        <th data-class="expand">Department</th>
                                                        <th data-hide="phone,tablet">Description</th>
														<th>Other</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Sales</td>
                                                        <td>Interact with future and potential clients and sell our awesome products</td>
														<td>B Team Salesforce</td>
                                                        <td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modaldepartments" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

										</div>
										<div class="tab-pane fade" id="required">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalrequired" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th data-class="expand">Course</th>
    		                                            <th data-hide="phone,tablet">Description</th>
														<th>Months Required</th>
														<th>Certification</th>
														<th data-hide="phone,tablet">Other</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
														<td>Sales 121</td>
														<td>Learn how to be the best salesman you can be!</td>
														<td>1-3</td>
														<td>Yes</td>
														<td>Certification appointed by a sales manager at the end of the course</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalrequired" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
                                        	</table>

										</div>
										<div class="tab-pane fade" id="interview">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalinterview" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th data-class="expand">Question</th>
    		                                            <th data-hide="phone,tablet">Expected Answers</th>
														<th data-hide="phone,tablet">Notes</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
														<td>Why do you want to be a salesman</td>
														<td>Because I love interacting with people!</td>
														<td>Keep an eye on their physical behavior when they answer this question!</td>
    		                                            <td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalinterview" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
                                        	</table>

										</div>
										<div class="tab-pane fade" id="success">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalsuccess" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th data-class="expand">Name</th>
    		                                            <th data-hide="phone,tablet">Details</th>
														<th data-hide="phone,tablet">Measurement</th>
														<th>Active</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
														<td>Success Enabler</td>
														<td>Detailed Success Enabler</td>
														<td>Measurement Success Enabler</td>
														<td>YES</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalsuccess" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
                                        	</table>

										</div>
										<div class="tab-pane fade" id="accountability">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalaccountability" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th data-class="expand">Factor</th>
    		                                            <th data-hide="phone,tablet">Details</th>
														<th data-hide="phone,tablet">Measurement</th>
														<th>Active</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
														<td>Success Enabler</td>
														<td>Detailed Success Enabler</td>
														<td>Measurement Success Enabler</td>
														<td>YES</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalaccountability" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
                                        	</table>

										</div>
									</div>

								</div>
							</div>

						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->

				</div>


				<!-- WIDGET END -->
				<div class="modal fade" id="modaltask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Tasks</h4>
							</div>
							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Task:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>
										<section>
											<label class="label">Job Function:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>
										<section>
											<label class="label">Notes:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>
										<section>
											<label class="label text-center">Weekly Task %</label>
											<div class="text-center">
												<input class="knob" data-width="120" data-height="120" data-displayInput=true value="5" data-displayPrevious=true data-fgColor="#428BCA">
											</div>
										</section>
									</fieldset>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalskills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Skill</h4>
							</div>
							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Skill:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Details:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>
									</fieldset>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalknowledge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Knowledge</h4>
							</div>
							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Knowledge:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Details:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>
									</fieldset>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalbehavior" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Behavior</h4>
							</div>

							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Behavior:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Details:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>
									</fieldset>
								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalmeasurements" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Measurement</h4>
							</div>

							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Measurement:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Details:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>
									</fieldset>
								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

			<div class="modal fade" id="modalprocedures" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="myModalLabel">Add Procedure and Job Aid</h4>
						</div>
						<div class="modal-body">

							<form class="smart-form">

								<fieldset>
									<section>
										<label class="label">Procedure:</label>
										<label class="input">
											<input type="text" class="input-sm">
										</label>
									</section>
									<section>
										<label class="label">Details:</label>
										<label class="textarea textarea-expandable">
											<textarea rows="6" class="custom-scroll"></textarea>
										</label>
									</section>
								</fieldset>
							</form>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Cancel
							</button>
							<button type="button" class="btn btn-primary">
								Submit
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="modal fade" id="modaldepartments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Add Department</h4>
					</div>
					<div class="modal-body">

						<form class="smart-form">

							<fieldset>
								<section>
									<label class="label">Department:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>

								<section>
									<label class="label">Description:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
								<section>
									<label class="label">Other:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
							</fieldset>
						</form>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button type="button" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modalrequired" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Add Required Learning</h4>
					</div>
					<div class="modal-body">

						<form class="smart-form">

							<fieldset>
								<section>
									<label class="label">Course:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
								<section>
									<label class="label">Description:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
								<section>
									<label class="label">Months Required</label>
									<div class="inline-group">
										<label class="checkbox">
											<input type="checkbox" name="checkbox-inline" checked="checked">
											<i></i>1-3
										</label>
										<label class="checkbox">
											<input type="checkbox" name="checkbox-inline">
											<i></i>3-6
										</label>
										<label class="checkbox">
											<input type="checkbox" name="checkbox-inline">
											<i></i>6-9
										</label>
										<label class="checkbox">
											<input type="checkbox" name="checkbox-inline">
											<i></i>9-12
										</label>
									</div>
								</section>
								<section>
									<label class="label">Certification Required</label>
									<div class="inline-group">
										<label class="radio">
											<input type="radio" name="radio-inline" checked="checked">
											<i></i>Yes</label>
										<label class="radio">
											<input type="radio" name="radio-inline">
											<i></i>No</label>
									</div>
								</section>
								<section>
									<label class="label">Other:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
							</fieldset>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button type="button" class="btn btn-primary">
							Submit
						</button>
					</div>

				</div>
			</div>
		</div>

		<div class="modal fade" id="modalinterview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Add Interview Question</h4>
					</div>
					<div class="modal-body">

						<form class="smart-form">

							<fieldset>
								<section>
									<label class="label">Question:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>

								<section>
									<label class="label">Expected Answer:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
								<section>
									<label class="label">Notes:</label>
									<label class="textarea textarea-expandable">
										<textarea rows="6" class="custom-scroll"></textarea>
									</label>
								</section>

							</fieldset>
						</form>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button type="button" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modalsuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Add Success Enabler</h4>
					</div>
					<div class="modal-body">

						<form class="smart-form">

							<fieldset>
								<section>
									<label class="label">Name:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>

								<section>
									<label class="label">Deatils:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
								<section>
									<label class="label">Measurement:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>

								<section>
									<label class="label">Active</label>
									<div class="inline-group">
										<label class="radio">
											<input type="radio" name="radio-inline" checked="checked">
											<i></i>Yes</label>
										<label class="radio">
											<input type="radio" name="radio-inline">
											<i></i>No</label>
									</div>
								</section>
							</fieldset>
						</form>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button type="button" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modalaccountability" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Add Accoutability Factor</h4>
					</div>
					<div class="modal-body">

						<form class="smart-form">

							<fieldset>
								<section>
									<label class="label">Factor:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>

								<section>
									<label class="label">Deatils:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
								<section>
									<label class="label">Measurement:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>

								<section>
									<label class="label">Active</label>
									<div class="inline-group">
										<label class="radio">
											<input type="radio" name="radio-inline" checked="checked">
											<i></i>Yes</label>
										<label class="radio">
											<input type="radio" name="radio-inline">
											<i></i>No</label>
									</div>
								</section>
							</fieldset>
						</form>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button type="button" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>


	</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

		{{ template "footer.tmpl" . }}

		{{ template "scripts.tmpl" . }}

		<script src="/static/js/plugin/knob/jquery.knob.min.js"></script>


		<script type="text/javascript">
        $('tr#click').click(function() {
            $('#SKB').removeClass('hide');
            $('#T').addClass('hide');
        });
        $('button.cancel').click(function() {
            $('#SKB').addClass('hide');
            $('#T').removeClass('hide');
        });
		$('.knob').knob({
			change: function (value) {
				//console.log("change : " + value);
			},
			release: function (value) {
				//console.log(this.$.attr('value'));
				//console.log("release : " + value);
			},
			cancel: function () {
				//console.log("cancel : ", this);
			}
		});
        </script>

	</body>

</html>
