<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
        <span> <!-- User image size is adjusted inside CSS, it should stay as it -->

            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="/static/img/avatars/sunny.png" alt="me" class="online" />
                <span>
                    John Doe
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="active">
                <a href="/" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Company Information</span></a>
                <ul>
                    <li><a href="/business_results_overview">Buisiness Results</a></li>
                    <li><a href="/job_information_overview">Job Information</a></li>
                    <li><a href="/organization_structure">Organization Structure</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Employee Information</span></a>
                <ul>
                    <li><a href="/employee_overview">Employee Information</a></li>
                    <li><a href='/employee_profile'>Employee Profile</a></li>
                    <li><a href="/job_canidates_overview">Job Canidates</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-road"></i> <span class="menu-item-parent">Employee Development</span></a>
                <ul>
                    <li><a href="/course_overview">Courses</a></li>
                    <li><a href="/career_planning">Career Planning</a></li>
                    <li><a href="/course_sessions">Course Sessions</a></li>
                    <li><a href="/course_registrations">Course Registrations</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-tachometer"></i> <span class="menu-item-parent">Employee Reviews</span></a>
                <ul>
                    <li><a href="/performance_reviews">Performance Reviews</a></li>
                    <li><a href="/accountability_reviews">Accountability Reviews</a></li>
                    <li><a href="#">Good Practices</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-line-chart"></i> <span class="menu-item-parent">Employee Performance</span></a>
                <ul>
                    <li><a href="/one_to_one_measurement">One-To-One Measurements</a></li>
                    <li><a href="/multi_measurement_performance">One-To-Many Measurements</a></li>
                    <li><a href="/peer_to_peer">Peer-To-Peer Measurements</a></li>
                    <li><a href="/observation_goals">Observation Goals</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Settings</span></a>
                <ul>
                    <li><a href="#">General Settings</a></li>
                    <li><a href="#">User Settings</a></li>
                    <li><a href="/company_settings">Company Settings</a></li>
                </ul>
            </li>

            <li class="chat-users top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-comment-o"><em class="bg-color-pink flash animated">!</em></i> <span class="menu-item-parent">Smart Chat API <sup>beta</sup></span></a>
                <ul>
                    <li>
                        <!-- DISPLAY USERS -->
                        <div class="display-users">

                            <input class="form-control chat-user-filter" placeholder="Filter" type="text">

                            <a href="#" class="usr"
                                data-chat-id="cha1"
                                data-chat-fname="Sadi"
                                data-chat-lname="Orlaf"
                                data-chat-status="busy"
                                data-chat-alertmsg="Sadi Orlaf is in a meeting. Please do not disturb!"
                                data-chat-alertshow="true"
                                data-rel="popover-hover"
                                data-placement="right"
                                data-html="true"
                                data-content="
                                    <div class='usr-card'>
                                        <img src='img/avatars/5.png' alt='Sadi Orlaf'>
                                        <div class='usr-card-content'>
                                            <h3>Sadi Orlaf</h3>
                                            <p>Marketing Executive</p>
                                        </div>
                                    </div>
                                ">
                                <i></i>Sadi Orlaf
                            </a>

                            <a href="#" class="usr"
                                data-chat-id="cha2"
                                data-chat-fname="Jessica"
                                data-chat-lname="Dolof"
                                data-chat-status="online"
                                data-chat-alertmsg=""
                                data-chat-alertshow="false"
                                data-rel="popover-hover"
                                data-placement="right"
                                data-html="true"
                                data-content="
                                    <div class='usr-card'>
                                        <img src='img/avatars/1.png' alt='Jessica Dolof'>
                                        <div class='usr-card-content'>
                                            <h3>Jessica Dolof</h3>
                                            <p>Sales Administrator</p>
                                        </div>
                                    </div>
                                ">
                                <i></i>Jessica Dolof
                            </a>

                            <a href="#" class="usr"
                                data-chat-id="cha3"
                                data-chat-fname="Zekarburg"
                                data-chat-lname="Almandalie"
                                data-chat-status="online"
                                data-rel="popover-hover"
                                data-placement="right"
                                data-html="true"
                                data-content="
                                    <div class='usr-card'>
                                        <img src='img/avatars/3.png' alt='Zekarburg Almandalie'>
                                        <div class='usr-card-content'>
                                            <h3>Zekarburg Almandalie</h3>
                                            <p>Sales Admin</p>
                                        </div>
                                    </div>
                                ">
                                <i></i>Zekarburg Almandalie
                            </a>

                            <a href="#" class="usr"
                                data-chat-id="cha4"
                                data-chat-fname="Barley"
                                data-chat-lname="Krazurkth"
                                data-chat-status="away"
                                data-rel="popover-hover"
                                data-placement="right"
                                data-html="true"
                                data-content="
                                    <div class='usr-card'>
                                        <img src='img/avatars/4.png' alt='Barley Krazurkth'>
                                        <div class='usr-card-content'>
                                            <h3>Barley Krazurkth</h3>
                                            <p>Sales Director</p>
                                        </div>
                                    </div>
                                ">
                                <i></i>Barley Krazurkth
                            </a>

                            <a href="#" class="usr offline"
                                data-chat-id="cha5"
                                data-chat-fname="Farhana"
                                data-chat-lname="Amrin"
                                data-chat-status="incognito"
                                data-rel="popover-hover"
                                data-placement="right"
                                data-html="true"
                                data-content="
                                    <div class='usr-card'>
                                        <img src='img/avatars/female.png' alt='Farhana Amrin'>
                                        <div class='usr-card-content'>
                                            <h3>Farhana Amrin</h3>
                                            <p>Support Admin <small><i class='fa fa-music'></i> Playing Beethoven Classics</small></p>
                                        </div>
                                    </div>
                                ">
                                <i></i>Farhana Amrin (offline)
                            </a>

                            <a href="#" class="usr offline"
                                data-chat-id="cha6"
                                data-chat-fname="Lezley"
                                data-chat-lname="Jacob"
                                data-chat-status="incognito"
                                data-rel="popover-hover"
                                data-placement="right"
                                data-html="true"
                                data-content="
                                    <div class='usr-card'>
                                        <img src='img/avatars/male.png' alt='Lezley Jacob'>
                                        <div class='usr-card-content'>
                                            <h3>Lezley Jacob</h3>
                                            <p>Sales Director</p>
                                        </div>
                                    </div>
                                ">
                                <i></i>Lezley Jacob (offline)
                            </a>

                            <a href="ajax/chat.html" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">About the API</a>

                        </div>
                        <!-- END DISPLAY USERS -->
                    </li>
                </ul>
            </li>
        </ul>
    </nav>


    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->
