<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="">
    <title>PERFORM | Employee Reviews</title>

    {{ template "head.tmpl" . }}
    <link href="../../static/vendors/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" />


</head>
<body id="carrot-scheme">
    <section id="container">

        {{ template "topnav.tmpl" . }}
        {{ template "sidenav.tmpl" . }}

        <section id="main-content">
            <section class="wrapper">

                {{ template "gridmenue.tmpl" . }}

                <div class="top-page-header">
                    <div class="page-title">
                        <h3>Accountability Reviews</h3>
                        <small>Accountability Reviews</small>
                    </div>
                    <div class="page-breadcrumb">
                        <nav class="c_breadcrumbs">
                            <ul>
                                <li class="active"><a href="/accountability_reviews">Accountability Reviews</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                <div class="pull-right">
                                    <h5>Reviews for this employee: 3</h5>
                                </div>
                                <h4>Accountability Review</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <form action="" class="">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="form-label">Reviewed By: </label>
                                                        <select class="select2">
                                                            <option>Joe Gibbs</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Discussed Review Date:</label>
                                                        <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                        <span class="help-inline">dd/mm/yyyy</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Scheduled Review Date:</label>
                                                        <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                        <span class="help-inline">dd/mm/yyyy</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Actual Review Date</label>
                                                        <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                        <span class="help-inline">dd/mm/yyyy</span>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Review Notes:</label>
                                                <textarea class="form-control" placeholder="" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="c_panel">
                                            <div class="c_title">
                                                <h4>Employee</h4>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="c_content">
                                                <div class="form-group">
                                                    <label class="form-label">Employee Name</label>
                                                    <select class="select2">
                                                        <option>Robert Jones</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                <h4>Accountability Factor Reviews</h4>
                            </div>
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-pane fade active in" id="default-tab-1">
                                            <div class="pull-right">
                                                <button href="#factor" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Accountability Factor</button>
                                            </div>
                                            <div class="c_content">
                                                <table class="table dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ACCOUNTABILITY FACTOR</th>
                                                            <th>EMPLOYEE</th>
                                                            <th>MANAGER</th>
                                                            <th>BOTH</th>
                                                            <th>ACTION TO BE TAKEN</th>
                                                            <th class="text-center">ACTION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Maintain a balanced pipeline</td>
                                                            <td>5</td>
                                                            <td>3</td>
                                                            <td>4</td>
                                                            <td>Fix this now</td>
                                                            <td class="text-center" style="width:12%;">
                                                                <a href="#factor" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                </a>
                                                                <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Maintain a balanced pipeline</td>
                                                            <td>5</td>
                                                            <td>3</td>
                                                            <td>4</td>
                                                            <td>Fix this now</td>
                                                            <td class="text-center" style="width:12%;">
                                                                <a href="#factor" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                </a>
                                                                <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Maintain a balanced pipeline</td>
                                                            <td>5</td>
                                                            <td>3</td>
                                                            <td>4</td>
                                                            <td>Fix this now</td>
                                                            <td class="text-center" style="width:12%;">
                                                                <a href="#factor" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                </a>
                                                                <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Maintain a balanced pipeline</td>
                                                            <td>5</td>
                                                            <td>3</td>
                                                            <td>4</td>
                                                            <td>Fix this now</td>
                                                            <td class="text-center" style="width:12%;">
                                                                <a href="#factor" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                </a>
                                                                <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <aside>
                    <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse hide-right-bar-notifications">
                        <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
                            <div id="right-sidebar-tab-content" class="tab-content">

                                <div role="tabpanel" class="tab-pane fade in" id="factor">
                                    <div class="right-sidebar-panel-content-heading">
                                        <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Accountability Factor</h2>
                                        <small></small>
                                    </div>
                                    <div class="right-sidebar-panel-content animated fadeInRight">
                                        <ul class="right-sidebar-list">
                                            <div class="c_content">
                                                <form class="" action="" method="post">
                                                    <div class="form-group">
                                                        <label class="form-label">Accountability Factor: </label>
                                                        <select class="select2">
                                                            <option>Maintain a balanced pipeline</option>
                                                            <option>Hhave a strategy for engagement for every company</option>
                                                            <option>Have a call plan for every sales visit</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Employee</label>
                                                        <div class="margin-bottom-10">
                                                            <input class="rating" min="0" max="5" step="1" data-size="xs" data-glyphicon="false" data-rating-class="rating-fa" data-default-caption="{rating} Stars" data-star-captions="{}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Manager</label>
                                                        <div class="margin-bottom-10">
                                                            <input class="rating" min="0" max="5" step="1" data-size="xs" data-glyphicon="false" data-rating-class="rating-fa" data-default-caption="{rating} Stars" data-star-captions="{}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Both</label>
                                                        <div class="margin-bottom-10">
                                                            <input class="rating" min="0" max="5" step="1" data-size="xs" data-glyphicon="false" data-rating-class="rating-fa" data-default-caption="{rating} Stars" data-star-captions="{}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Action To Be Taken</label>
                                                        <textarea class="form-control autosize-animated"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-wet-asphalt margin-top-20">Submit</button>
                                                </form>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <div class="btn-bottom-right-sidebar-close">
                            <span class="fa fa-times"></span>
                        </div>
                    </div>
                </aside>

            </section>
        </section>
    </section>

    {{ template "scripts.tmpl" . }}

</body>
</html>
