<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="">
    <title>PERFORM | Employee Development</title>

    {{ template "head.tmpl" . }}

</head>

<body id="carrot-scheme">

    <section id="container">

        {{ template "topnav.tmpl" . }}

        {{ template "sidenav.tmpl" . }}

        <section id="main-content">


            <section class="wrapper">


                {{ template "gridmenue.tmpl" . }}

                <!--======== Page Title and Breadcrumbs Start ========-->
                <div class="top-page-header">

                    <div class="page-title">
                        <div class="pull-right margin-top-20 margin-right-20">
                            <a href="/course_registrations" type="button" class="btn btn-wet-asphalt btn-flat btn-raised"><i class="fa fa-plus"></i>&nbsp;Course</a>
                        </div>
                        <h2>Course Sessions</h2>
                        <small>A list of scheduled course sessions</small>
                    </div>
                    <div class="page-breadcrumb">
                        <nav class="c_breadcrumbs">
                            <ul>
                                <li class="active"><a href="/employee_overview">Employee Development</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">

                                <h3 class="text-uppercase">Course Sessions</h3>
                            </div>
                            <div class="widget-content bg-white">

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="tab-pane fade active in" id="default-tab-1">

                                            <div class="c_content">

                                                <table id="example" class="table table-bordered table-hover" style="border-spacing:0px; width:100%">

                                                    <thead>
                                                        <tr>
                                                            <th>CATEGORY</th>
                                                            <th>COURSE TITLE</th>
                                                            <th>REFERENCE NUMBER</th>
                                                            <th>DATE</th>
                                                            <th>TIME</th>
                                                            <th>INSTRUCTOR</th>
                                                            <th>LOCATION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id="click">
                                                            <td>Sales</td>
                                                            <td>Selling Technique</td>
                                                            <td>Sales 101</td>
                                                            <td>10/5/2016</td>
                                                            <td>8:30pm - 10:15pm</td>
                                                            <td>Ken Johnson</td>
                                                            <td>Atlanta Training Room</td>
                                                        </tr>
                                                        <tr id="click">
                                                            <td>Sales</td>
                                                            <td>Selling Technique</td>
                                                            <td>Sales 101</td>
                                                            <td>10/5/2016</td>
                                                            <td>8:30pm - 10:15pm</td>
                                                            <td>Ken Johnson</td>
                                                            <td>Atlanta Training Room</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div><!--/.c_content-->

                                        </div>

                                    </div>
                                </div><!--/row-->

                            </div><!--/widget-content-->
                        </div><!--/widget-->

                    </div>
                </div><!--/.row-->


            </section>

        </section>
        <!--======== Main Content End ========-->

    </section><!--/.container-->

    {{ template "scripts.tmpl" . }}

    <script type="text/javascript">
    $('tr#click').click(function() {
        window.open(
            '/learning_activities',
            '_blank'
        )
    });
    </script>

</body>

</html>
