<!DOCTYPE html>
<html lang="en-us">

	<body class="minified smart-style-1">

		{{ template "head.tmpl" }}

		{{ template "sidenav.tmpl" . }}

		<!-- MAIN PANEL -->

        <div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" style="height:979px;">

                {{ template "alert.tmpl" . }}

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-road"></i>
								Courses
						</h1>
					</div>
				</div>

                <div class="row">

					<!-- NEW WIDGET START -->
					<article class="col-sm-12">

						<!-- Widget ID (each widget will need unique ID)-->
						<div class="jarviswidget well" id="wid-id-0a" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

							<!-- widget content -->
							<div class="widget-body">
								<h1>Courses Overview</h1>
								<p>
									A list of company courses employees can take
								</p>
                                <table class="dataTable click table table-hover" width="100%">

							        <thead>
										<tr>
											<th class="hasinput">
												<input type="text" class="form-control" placeholder="Filter" />
											</th>
                                            <th class="hasinput">
												<input type="text" class="form-control" placeholder="Filter" />
											</th>
											<th class="hasinput">
												<input type="text" class="form-control" placeholder="Filter" />
											</th>
											<th></th>
										</tr>
							            <tr>
							                <th data-class="expand">Reference</th>
											<th>Name</th>
											<th>Class Limit</th>
											<th class="text-center" style="width:10%;">Active</th>
							            </tr>
							        </thead>

                                    <tbody>
                                        <tr id="click">
											<td>Sales 101</td>
											<td>Selling Fundementals</td>
											<td>24</td>
											<td class="text-center"><span class="label label-success"><i class="fa fa-check"></i></span></td>
										</tr>
										<tr id="click">
											<td>MGT 101</td>
											<td>Leadership Vision Setting</td>
											<td>12</td>
											<td class="text-center"><span class="label label-warning"><i class="fa fa-exclamation"></i></span></td>
										</tr>
                                    </tbody>

								</table>
							</div>
							<!-- end widget content -->
						</div>
						<!-- end widget -->

					</article>
					<!-- WIDGET END -->

				</div>
			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

		{{ template "footer.tmpl" . }}

		{{ template "scripts.tmpl" . }}

        <script type="text/javascript">

        $('tr#click').click(function() {
            window.location.href = '/course'
        });

		</script>

	</body>

</html>
