<!DOCTYPE html>
<html lang="en-us">

	<body class="minified smart-style-1">

		{{ template "head.tmpl" }}

		{{ template "sidenav.tmpl" . }}

		<!-- MAIN PANEL -->

        <div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" style="height:979px;">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-users"></i>
								Employee Information
							<span>>
								Employee Overview
							</span>
						</h1>
					</div>
				</div>

                <div class="row">

					<!-- NEW WIDGET START -->
					<article class="col-sm-12">

						<!-- Widget ID (each widget will need unique ID)-->
						<div class="jarviswidget well" id="wid-id-0a" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

							<!-- widget content -->
							<div class="widget-body">
								<h1>Employees</h1>
								<p>
									A list of company employees
								</p>
                                <table class="dataTable click table table-hover" width="100%">

							        <thead>
										<tr>
											<th class="hasinput">
												<input type="text" class="form-control" placeholder="Filter Name" />
											</th>
                                            <th class="hasinput">
												<input type="text" class="form-control" placeholder="Filter Department Name" />
											</th>
											<th class="hasinput">
												<input type="text" class="form-control" placeholder="Filter Job Name" />
											</th>
											<th class="hasinput">
												<input type="text" class="form-control" placeholder="Filter Branch Name" />
											</th>
										</tr>
							            <tr>
							                <th data-class="expand">Name</th>
							                <th>Department Name</th>
							                <th data-hide="phone">Job Name</th>
							                <th data-hide="phone">Branch Name</th>
							            </tr>
							        </thead>

                                    <tbody>
                                        <tr id="click">
                                            <td>Robert Jones</td>
                                            <td>Sales</td>
                                            <td>Global Sales Executive</td>
                                            <td>Baltimore HQ</td>
                                        </tr>
                                        <tr id="click">
											<td>Jennifer</td>
											<td>Laonima</td>
											<td>Et Rutrum Non Associates</td>
											<td>Fogo</td>
										</tr>
										<tr id="click">
											<td>Clark</td>
											<td>Nam Ac Inc.</td>
											<td>Machelen</td>
											<td>Aoumin</td>
										</tr>
										<tr id="click">
											<td>Brendan</td>
											<td>Enim Commodo Limited</td>
											<td>Norman</td>
											<td>Louinm</td>
										</tr>
										<tr id="click">
											<td>Warren</td>
											<td>Odio Etiam Institute</td>
											<td>Sautin</td>
											<td>Juslian</td>
										</tr>
                                        <tr id="click">
                                            <td>Robert Jones</td>
                                            <td>Sales</td>
                                            <td>Global Sales Executive</td>
                                            <td>Baltimore HQ</td>
                                        </tr>
                                        <tr id="click">
											<td>Jennifer</td>
											<td>Laonima</td>
											<td>Et Rutrum Non Associates</td>
											<td>Fogo</td>
										</tr>
										<tr id="click">
											<td>Clark</td>
											<td>Nam Ac Inc.</td>
											<td>Machelen</td>
											<td>Aoumin</td>
										</tr>
										<tr id="click">
											<td>Brendan</td>
											<td>Enim Commodo Limited</td>
											<td>Norman</td>
											<td>Louinm</td>
										</tr>
										<tr id="click">
											<td>Warren</td>
											<td>Odio Etiam Institute</td>
											<td>Sautin</td>
											<td>Juslian</td>
										</tr>
                                        <tr id="click">
                                            <td>Robert Jones</td>
                                            <td>Sales</td>
                                            <td>Global Sales Executive</td>
                                            <td>Baltimore HQ</td>
                                        </tr>
                                        <tr id="click">
											<td>Jennifer</td>
											<td>Laonima</td>
											<td>Et Rutrum Non Associates</td>
											<td>Fogo</td>
										</tr>
										<tr id="click">
											<td>Clark</td>
											<td>Nam Ac Inc.</td>
											<td>Machelen</td>
											<td>Aoumin</td>
										</tr>
										<tr id="click">
											<td>Brendan</td>
											<td>Enim Commodo Limited</td>
											<td>Norman</td>
											<td>Louinm</td>
										</tr>
										<tr id="click">
											<td>Warren</td>
											<td>Odio Etiam Institute</td>
											<td>Sautin</td>
											<td>Juslian</td>
										</tr>
                                    </tbody>

								</table>
							</div>
							<!-- end widget content -->
						</div>
						<!-- end widget -->

					</article>
					<!-- WIDGET END -->

				</div>
			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

		{{ template "footer.tmpl" . }}

		{{ template "scripts.tmpl" . }}

        <script type="text/javascript">

        $('tr#click').click(function() {
            window.location.href = '/employee_information'
        });

		</script>

	</body>

</html>
