<!--======== Grid Menu Start ========-->
<div id="grid-menu">
    <div class="color-overlay grid-menu-overlay">
        <div class="grid-icon-wrap grid-icon-effect-8">
            <a href="#" class="grid-icon icon-user font-size-50 turquoise"></a>
            <a href="#" class="grid-icon icon-envelope font-size-50 teal"></a>
            <a href="#" class="grid-icon icon-support font-size-50 peter-river"></a>
            <a href="#" class="grid-icon icon-settings font-size-50 light-blue"></a>
            <a href="#" class="grid-icon icon-picture font-size-50 orange"></a>
            <a href="#" class="grid-icon icon-camrecorder font-size-50 light-orange"></a>
        </div>
    </div>
</div>
<!--======== Grid Menu End ========-->
