<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/custom.css" media="screen" title="no title">
    <link rel="shortcut icon" href="">
    <title>PERFORM | HOME</title>
    {{ template "head.tmpl" . }}
</head>
<body id="carrot-scheme">
    <!-- <header class="header fixed-top clearfix">
        <div class="brand">
            <a href="/" class="logo">
                Perform
            </a>
        </div>
        <div class="brand">
            <a href="/" class="logo">
                Resource Management System
            </a>
        </div>
    </header> -->
    <section id="container">
        {{ template "topnav.tmpl" . }}
        {{ template "sidenav.tmpl" . }}
        <section id="main-content" class="">
            <section class="wrapper">
                {{ template "gridmenue.tmpl" . }}
                <div class="col-md-12 margin-top-45">
                    <div class="c_panel" style="height:120px;">
                        <div class="c_content" style="background-color: #337ab7;">
                            <div class="pull-right">
                                <button id="collapse" class="btn btn-wet-asphalt btn-flat btn-raised">Show All</button>
                            </div>
                            <h1 class="font-size-50 text-center margin-top-15 fg-white" style="font-weight:700;"> WELCOME TO P.E.R.F.O.R.M.</h1>
                            <p class="font-szie-10 text-center margin-top-15 fg-white">Putting the pieces together so you can achieve more</p>
                        </div>
                    </div>
                    <div class="c_panel nopadding nomargin">
                        <div class="c_content nopadding nomargin">
                            <div class="row wow fadeInUp">
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg CI">
                                            <div class="mask-top">
                                                <i class="fa fa-building"></i>
                                                <h4 class="margin-top-10 fg-black">Company Information</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg EI">
                                            <div class="mask-top">
                                                <i class="fa fa-users"></i>
                                                <h4 class="margin-top-10 fg-black">Employee Information</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg ED">
                                            <div class="mask-top">
                                                <i class="fa fa-road"></i>
                                                <h4 class="margin-top-10 fg-black">Employee Development</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg ER">
                                            <div class="mask-top">
                                                <i class="fa fa-tachometer"></i>
                                                <h4 class="fg-black">Employee Reviews</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg EP">
                                            <div class="mask-top">
                                                <i class="fa fa-bar-chart"></i>
                                                <h4 class="margin-top-10 fg-black">Employee Performance</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg SE">
                                            <div class="mask-top">
                                                <i class="fa fa-cogs"></i>
                                                <h4 class="fg-black">Settings</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row wow fadeInUp" data-wow-delay=".3s">
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">Buisiness <br>Results</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Employee <br>Information</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">Learning <br>Activities</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Performance <br>Reviews</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">One-To-One <br>Measurements</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">General <br> Settings</a>
                                </div>
                            </div>
                            <div class="row wow fadeInUp margin-top-20" data-wow-delay=".4s">
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">Job <br>Information</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Employee <br>Profile</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">Career  <br>Planning</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Accountability <br>Reviews</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">One-To-Many <br>Measurements</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">User <br>Settings</a>
                                </div>
                            </div>
                            <div class="row wow fadeInUp margin-top-20" data-wow-delay=".5s">
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">Organization <br>Structure</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Job <br>Canidates</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">Course <br>Sessions</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Good <br>Practices</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/business_results_overview" class="btn  btn-custom">Peer-To-Peer <br>Measurements</a>
                                </div>
                                <div class="col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Company <br>Settings</a>
                                </div>
                            </div>
                            <div class="row wow fadeInUp margin-top-20" data-wow-delay=".6s">
                                <div class="col-md-offset-4 col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Course <br>Registrations</a>
                                </div>
                                <div class="col-md-offset-2 col-md-2 col-sm-6 text-center">
                                    <a href="/employee_information" class="btn  btn-custom">Observation <br>Goals</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    {{ template "scripts.tmpl" . }}
    <script type="text/javascript">
    $('#collapse').click(function() {
        $(".CIH").toggleClass('hide')
        $(".EIH").toggleClass('hide')
        $(".EDH").toggleClass('hide')
        $(".ERH").toggleClass('hide')
        $(".EPH").toggleClass('hide')
        $(".SEH").toggleClass('hide')
    });
    $('.CI').click(function() {
        $(".CIH").toggleClass('hide')
    });
    $('.EI').click(function() {
        $(".EIH").toggleClass('hide')
    });
    $('.ED').click(function() {
        $(".EDH").toggleClass('hide')
    });
    $('.ER').click(function() {
        $(".ERH").toggleClass('hide')
    });
    $('.EP').click(function() {
        $(".EPH").toggleClass('hide')
    });
    $('.SE').click(function() {
        $(".SEH").toggleClass('hide')
    });
    </script>
</body>
</html>
