<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/custom.css" media="screen" title="no title">
    <link rel="shortcut icon" href="">
    <title>PERFORM | HOME</title>

    {{ template "head.tmpl" . }}

</head>

<body id="carrot-scheme">
    <!-- <header class="header fixed-top clearfix">

        <div class="brand">
            <a href="/" class="logo">
                Perform
            </a>
        </div>
        <div class="brand">
            <a href="/" class="logo">
                Resource Management System
            </a>
        </div>

    </header> -->

    <section id="container">

        {{ template "topnav.tmpl" . }}

        {{ template "sidenav.tmpl" . }}

        <!--main content start-->
        <section id="main-content" class="">

            <section class="wrapper">

                {{ template "gridmenue.tmpl" . }}

                <!--======== Page Title and Breadcrumbs Start ========-->

                <div class="col-md-12 margin-top-45">
                    <div class="c_panel" style="height:120px;">
                        <div class="c_content" style="background-color: #5e8b9d;">
                            <h1 class="font-size-50 text-center margin-top-15 fg-white" style="font-weight:700;"> WELCOME TO P.E.R.F.O.R.M.</h1>
                            <p class="font-szie-10 text-center margin-top-15 fg-white">Putting the pieces together so you can achieve more</p>
                        </div>
                    </div>
                    <div class="c_panel nopadding nomargin">

                        <div class="c_content nopadding nomargin">

                            <div class="row wow fadeInDown">
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg" >
                                            <div class="mask-top"  style="background-color: #5e8b9d;">
                                                <!-- Icon -->
                                                <i class="fa fa-building fg-white"></i>
                                                <!-- Title -->
                                                <h4 class="margin-top-10 fg-white">Company Information</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg">
                                            <div class="mask-top"  style="background-color: #5e8b9d;">
                                                <!-- Icon -->
                                                <i class="fa fa-users fg-white"></i>
                                                <!-- Title -->
                                                <h4 class="margin-top-10 fg-white">Employee Information</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg">
                                            <div class="mask-top"  style="background-color: #5e8b9d;">
                                                <!-- Icon -->
                                                <i class="fa fa-road fg-white"></i>
                                                <!-- Title -->
                                                <h4 class="margin-top-10 fg-white">Employee Development</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg">
                                            <div class="mask-top"  style="background-color: #5e8b9d;">
                                                <!-- Icon -->
                                                <i class="fa fa-tachometer fg-white"></i>
                                                <!-- Title -->
                                                <h4 class="fg-white">Employee Reviews</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg">
                                            <div class="mask-top"  style="background-color: #5e8b9d;">
                                                <!-- Icon -->
                                                <i class="fa fa-bar-chart fg-white"></i>
                                                <!-- Title -->
                                                <h4 class="margin-top-10 fg-white">Employee Performance</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentlg">
                                            <div class="mask-top"  style="background-color: #5e8b9d;">
                                                <!-- Icon -->
                                                <i class="fa fa-cogs fg-white"></i>
                                                <!-- Title -->
                                                <h4 class="fg-white">Settings</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row wow fadeInUp" data-wow-delay=".3s">
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <a href="/business_results_overview"><h2>Business Results</h2></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2 class="margin-top-13">Employee Information</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Learning Activities</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Performance Reviews</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>One-To-One Measure</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Settings Info</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row wow fadeInUp" data-wow-delay=".4s">

                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Job Information</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Employee Profile</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Career Planning</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2 class="margin-top-13">Accountability Reviews</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2 class="margin-top-13">One-To-Many Measure</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Detailed Settings</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row wow fadeInUp" data-wow-delay=".5s">

                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2 class="margin-top-13">Organization Structure</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Job Canidates</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Course Sessions</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Best Practices</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Peer-To-Peer Measure</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row wow fadeInUp" data-wow-delay=".6s">
                                <div class="col-md-offset-4 col-md-2 col-sm-6 margin20">
                                    <div class="hover-boxed-icon-content text-center">
                                        <div class="contentsm">
                                            <div class="mask-sm">
                                                <!-- Icon -->
                                                <h2>Course Registrations</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.c_content-->
                    </div><!--/.c_panel-->


                </div><!--/.col-md-12-->

            </section>
        </section>
        <!--======== Main Content End ========-->

    </section><!--/.container-->

    <!--****** Modal End ******-->
    {{ template "scripts.tmpl" . }}

</body>

</html>

<!--===== Footer End ========-->
