<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/custom.css" media="screen" title="no title">
    <link rel="shortcut icon" href="">
    <title>PERFORM | HOME</title>

    {{ template "head.tmpl" . }}

</head>

<body id="carrot-scheme">

    <section id="container">
        {{ template "topnav.tmpl" . }}


        <!--main content start-->
        <section id="main-content" class="merge-left">

            <section class="wrapper">

                <!--======== Page Title and Breadcrumbs Start ========-->
                <div class="top-page-header">
                </div>
                <!--======== Page Title and Breadcrumbs End ========-->

                <div class="col-md-12">

                    <div class="c_panel">

                        <div class="c_content">

                            <div class="row">

                                <div class="col-md-offset-1 col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-wet-asphalt">

                                            <div class="text-center">
                                                <span class="font-size-30">Company Information</span>
                                                <p>Sales</p>
                                                <i class="fa fa-building fa-3x"></i>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->

                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-wet-asphalt">

                                            <div class="text-center">
                                                <span class="font-size-30">Company Information</span>
                                                <p>Sales</p>
                                                <i class="fa fa-building fa-3x"></i>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->

                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-wet-asphalt">

                                            <div class="text-center">
                                                <span class="font-size-30">Company Information</span>
                                                <p>Sales</p>
                                                <i class="fa fa-building fa-3x"></i>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->

                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-wet-asphalt">

                                            <div class="text-center">
                                                <span class="font-size-30">Company Information</span>
                                                <p>Sales</p>
                                                <i class="fa fa-building fa-3x"></i>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->

                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-wet-asphalt">

                                            <div class="text-center">
                                                <span class="font-size-30">Company Information</span>
                                                <p>Sales</p>
                                                <i class="fa fa-building fa-3x"></i>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->

                                </div>

                            </div><!--row-->
                            <div class="row">

                                <div class="col-md-offset-1 col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                            </div><!--row-->
                            <div class="row">

                                <div class="col-md-offset-1 col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                            </div><!--row-->
                            <div class="row">

                                <div class="col-md-offset-1 col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">

                                    <div class="widget">
                                        <div class="widget-content bg-primary">

                                            <div class="text-center">
                                                <span class="text-center font-size-20">Job Information</span>
                                            </div>

                                        </div><!--/widget-content-->
                                    </div><!--/widget-->
                                </div>
                            </div><!--row-->

                        </div><!--/.c_content-->
                    </div><!--/.c_panel-->

                </div><!--/.col-md-12-->

            </section>
        </section>
        <!--======== Main Content End ========-->

    </section><!--/.container-->

    <!--****** Modal End ******-->
    {{ template "scripts.tmpl" . }}

</body>

</html>

<!--===== Footer End ========-->
