<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="">
        <title>PERFORM | Company Information</title>
        {{ template "head.tmpl" . }}
    </head>

    <body id="carrot-scheme">
        <section id="container">

            {{ template "topnav.tmpl" . }}
            {{ template "sidenav.tmpl" . }}

            <section id="main-content">
                <section class="wrapper">

                    {{ template "gridmenue.tmpl" . }}

                    <div class="top-page-header">
                        <div class="page-title">
                            <div class="pull-right margin-top-20 margin-right-20">
                                <a href="/job_information" type="button" class="btn btn-wet-asphalt btn-flat btn-raised"><i class="fa fa-plus"></i>&nbsp;Job</a>
                            </div>
                            <h3>Job Information</h3>
                            <small>Job information personalized for your company.</small>
                        </div>
                        <div class="page-breadcrumb">
                            <nav class="c_breadcrumbs">
                                <ul>
                                    <li><a href="/job_information_overview">Job Information</a></li>
                                    <li class="active"><a href="/job_information">Account Manager</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="widget">
                                <div class="widget-header bg-wet-asphalt">
                                    <h4>Account Manager</h4>
                                </div>
                                <div class="widget-content bg-white">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <form class="form-horizontal" action="" method="">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Series:</label>
                                                        <div class="col-md-9">
                                                            <input type="" class="form-control" placeholder="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Grade:</label>
                                                        <div class="col-md-9">
                                                            <input type="" class="form-control" placeholder="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Code:</label>
                                                        <div class="col-md-9">
                                                            <input type="" class="form-control" placeholder="" />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="col-md-9">
                                                <form class="" action="" method="post">
                                                    <div class="form-group">
                                                        <label class="control-label">Details:</label>
                                                        <textarea rows="4" class="form-control autosize-animated">Secure space agreements with a minimum of six airlines per refion: USA, Europe, Northern Asian. Secure a minimum of 25 air transportation customers.</textarea>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget">
                                <div class="widget-content bg-white">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="c_panel">
                                                <div class="c_title">
                                                    <h4>Search Company Business Results</h4>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="c_content">
                                                    <div class="form-group">
                                                        <label class="form-label">Company Jobs</label>
                                                        <select class="select2">
                                                            <option>Account Manager</option>
                                                            <option>Salesperson</option>
                                                            <option>System Admin</option>
                                                            <option>Developer</option>
                                                            <option>Nurse</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-header bg-wet-asphalt">
                                        <div class="col-md-4 pull-right">
                                            <ul class="nav nav-pills nav-pills">
                                                <li role="presentation" class="active"><a href="#nav-1" role="tab" data-toggle="tab">Job Tasks</a></li>
                                                <li role="presentation"><a href="#nav-2" role="tab" data-toggle="tab">Job Properties</a></li>
                                            </ul>
                                        </div>
                                    <h4>Job Tasks / Properties</h4>
                                </div>
                                <div class="widget-content bg-white">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="tab-content">
                                                <div class="tab-pane fade active in" id="nav-1">
                                                    <table class="table dataTable">
                                                        <thead>
                                                            <tr>
                                                                <th>TASKS</th>
                                                                <th>DESCRIPTION</th>
                                                                <th>NOTES</th>
                                                                <th class="text-center" style="width:20%;">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Random Job Task Title</td>
                                                                <td>Random job task description</td>
                                                                <td>Random notes for this job task!</td>
                                                                <td class="text-center" style="width:20%;">
                                                                    <a href="#myModal1" data-toggle="modal" class="btn btn-sm btn-primary btn-raised">
                                                                        <i class="fa fa-align-justify"></i> Properties
                                                                    </a>
                                                                    <a href="#tasks" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                        <i class="fa fa-pencil-square-o"></i>
                                                                    </a>
                                                                    <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
    											<div class="tab-pane fade" id="nav-2">
    												<ul class="nav nav-tabs nav-pills">
    		                                            <li class="active"><a href="#tab-1" data-toggle="tab">Departments</a></li>
    		                                            <li class=""><a href="#tab-2" data-toggle="tab">Required Learning</a></li>
    		                                            <li class=""><a href="#tab-3" data-toggle="tab">Interview Questions</a></li>
    		                                            <li class=""><a href="#tab-4" data-toggle="tab">Success Enablers</a></li>
    		                                            <li class=""><a href="#tab-5" data-toggle="tab">Accountability Factors</a></li>
    		                                        </ul>
    		                                        <div class="tab-content">
    		                                            <div class="tab-pane fade active in" id="tab-1">
                                                            <div class="pull-right">
                                                                <button href="#departments" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar">
                                                                    <i class="fa fa-plus"></i>
                                                                    &nbsp;Department
                                                                </button>
                                                            </div>
                                                            <div class="c_content">
                                                                <table class="table dataTable">
                                                                    <thead>
        		                                                        <tr>
        		                                                            <th>DEPARTMENT</th>
        		                                                            <th>DESCRIPTION</th>
        		                                                            <th>OTHER</th>
                                                                            <th class="text-center">Action</th>
        		                                                        </tr>
        		                                                    </thead>
        		                                                    <tbody>
        		                                                        <tr>
        		                                                            <td>Sales</td>
        		                                                            <td>Interact with future and potential clients and sell our awesome products</td>
        		                                                            <td>B Team Salesforce</td>
                                                                            <td class="text-center" style="width:12%;">
                                                                                <a href="#tasks" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                                </a>
                                                                                <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                    <i class="fa fa-trash"></i>
                                                                                </a>
                                                                            </td>
        		                                                    </tbody>
                                                                  </table>
                                                            </div>
    		                                            </div>
    													<div class="tab-pane fade" id="tab-2">
                                                            <div class="pull-right">
                                                                <button href="#learning" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Required Learning</button>
                                                            </div>
                                                            <div class="c_content">
                                                                <table class="table dataTable">
                                                                    <thead>
            		                                                    <tr>
            		                                                        <th>COURSE</th>
            		                                                        <th>DESCRIPTION</th>
            		                                                        <th>MONTHS REQUIRED</th>
            																<th>CERTIFICATION</th>
            		                                                        <th>OTHER</th>
            		                                                        <th class="text-center">Action</th>
            		                                                    </tr>
            		                                                </thead>
            		                                                <tbody>
            		                                                    <tr>
            		                                                        <td>Sales 121</td>
            		                                                        <td>Learn how to be the best salesman you can be!</td>
            		                                                        <td>1-3</td>
            		                                                        <td>Yes</td>
            																<td>Certification appointed by a sales manager at the end of the course</td>
                                                                            <td class="text-center" style="width:12%;">
                                                                                <a href="#tasks" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                                </a>
                                                                                <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                    <i class="fa fa-trash"></i>
                                                                                </a>
                                                                            </td>
            		                                                    </tr>
            		                                                </tbody>
                                                                 </table>
                                                            </div>
    		                                            </div>
    													<div class="tab-pane fade" id="tab-3">
                                                            <div class="pull-right">
                                                                <button href="#questions" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Interview Question</button>
                                                            </div>
                                                            <div class="c_content">
                                                                <table class="table dataTable">
                                                                    <thead>
    		                                                        <tr>
    		                                                            <th>QUESTION</th>
    		                                                            <th>EXPECTED ANSWERS</th>
    		                                                            <th>NOTES</th>
    																	<th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Why do you want to be a salesman</td>
    		                                                            <td>Because I love interacting with people!</td>
    		                                                            <td>Keep an eye on their physical behavior when they answer this question!</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#tasks" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                                  </table>
                                                            </div>
    		                                            </div>
    													<div class="tab-pane fade" id="tab-4">
                                                            <div class="pull-right">
                                                                <button href="#success" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Success Enabler</button>
                                                            </div>
                                                            <div class="c_content">
                                                                <table class="table dataTable ">
                                                                    <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>DETAILS</th>
    		                                                            <th>MEASUREMENT</th>
    		                                                            <th>ACTIVE</th>
    		                                                            <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Success Enabler</td>
    		                                                            <td>Detailed Success Enabler</td>
    		                                                            <td>Measurement Success Enabler</td>
                                                                        <td>YES</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#tasks" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                                  </table>
                                                            </div>
    		                                            </div>
    													<div class="tab-pane fade" id="tab-5">
                                                            <div class="pull-right">
                                                                <button href="#factor" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Accountability Factor</button>
                                                            </div>
                                                            <div class="c_content">
                                                                <table class="table dataTable">
                                                                    <thead>
        		                                                        <tr>
        		                                                            <th>FACTOR</th>
        		                                                            <th>DETAILS</th>
        		                                                            <th>MEASUREMENT</th>
        		                                                            <th>ACTIVE</th>
        		                                                            <th class="text-center">Action</th>
        		                                                        </tr>
    		                                                              </thead>
        		                                                    <tbody>
        		                                                        <tr>
        		                                                            <td>Phone Call Monthly</td>
        		                                                            <td>Record at least one phone call per month</td>
        		                                                            <td>0</td>
        																	<td>YES</td>
                                                                            <td class="text-center" style="width:12%;">
                                                                                <a href="#tasks" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                                </a>
                                                                                <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                    <i class="fa fa-trash"></i>
                                                                                </a>
                                                                            </td>
        		                                                        </tr>
        		                                                    </tbody>
                                                                  </table>
                                                            </div>
    		                                            </div>
    		                                        </div>
    											</div>
    										</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </section>
            <!-- ===== SIDEBAR START ===== -->
            <aside>
                <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse hide-right-bar-notifications">
                    <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
                        <div id="right-sidebar-tab-content" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tasks">
                                <div class="right-sidebar-panel-content-heading">
                                    <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Job Task</h2>
                                    <small></small>
                                </div>
                                <div class="right-sidebar-panel-content animated fadeInRight">
                                    <ul class="right-sidebar-list ">
                                        <div class="c_content">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInput">Task</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control autosize-animated"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Notes</label>
                                                    <textarea class="form-control autosize-animated"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                            </form>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="departments">
                                <div class="right-sidebar-panel-content-heading">
                                    <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Job Department</h2>
                                    <small></small>
                                </div>
                                <div class="right-sidebar-panel-content animated fadeInRight">
                                    <ul class="right-sidebar-list ">
                                        <div class="c_content">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInput">Department</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control autosize-animated"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInput">Other</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                            </form>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="learning">
                                <div class="right-sidebar-panel-content-heading">
                                    <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Job Required Learning</h2>
                                </div>
                                <div class="right-sidebar-panel-content animated fadeInRight">
                                    <ul class="right-sidebar-list ">
                                        <div class="c_content">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInput">Course</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control autosize-animated"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInput">Months Required</label>
                                                    <select class="form-control margin-top-12">
                                                        <option>1-2</option>
                                                        <option>2-4</option>
                                                        <option>4-6</option>
                                                        <option>6-12</option>
                                                        <option>12-12</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="switch-input primary">
                                                        <input type="checkbox" name="switch-checkbox" checked>
                                                        <i data-on="YES" data-off="NO"></i> Certification Required
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInput">Other</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                            </form>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="questions">
                                <div class="right-sidebar-panel-content-heading">
                                    <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Interview Question</h2>
                                </div>
                                <div class="right-sidebar-panel-content animated fadeInRight">
                                    <ul class="right-sidebar-list ">
                                        <div class="c_content">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInput">Question</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Expected Answer</label>
                                                    <textarea class="form-control autosize-animated"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Notes</label>
                                                    <textarea class="form-control autosize-animated"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                            </form>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="success">
                                <div class="right-sidebar-panel-content-heading">
                                    <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Success Enabler</h2>
                                </div>
                                <div class="right-sidebar-panel-content animated fadeInRight">
                                    <ul class="right-sidebar-list ">
                                        <div class="c_content">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInput">Success Enabler</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Details</label>
                                                    <textarea class="form-control autosize-animated"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInput">Measurement</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="switch-input primary">
                                                        <input type="checkbox" name="switch-checkbox" checked>
                                                        <i data-on="YES" data-off="NO"></i> Active
                                                    </label>
                                                </div>
                                                <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                            </form>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="factor">
                                <div class="right-sidebar-panel-content-heading">
                                    <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Accountability Factor</h2>
                                </div>
                                <div class="right-sidebar-panel-content animated fadeInRight">
                                    <ul class="right-sidebar-list ">
                                        <div class="c_content">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInput">Accountability Factor</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Details</label>
                                                    <textarea class="form-control autosize-animated"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInput">Measurement</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="switch-input primary">
                                                        <input type="checkbox" name="switch-checkbox" checked>
                                                        <i data-on="YES" data-off="NO"></i> Active
                                                    </label>
                                                </div>
                                                <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                            </form>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <div class="btn-bottom-right-sidebar-close">
                        <span class="fa fa-times"></span>
                    </div>
                </div>
            </aside>
        </section>

        {{ template "scripts.tmpl" . }}

    </body>
</html>
<!-- ===== MODAL START ===== -->
<div class="modal" id="myModal1" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h3 class="text-center">Account Manager</h3>
                <h4 class="modal-title"><strong>Task</strong> Properties</h4>
            </div>
            <div class="modal-body">
                <div class="widget">
                    <ul class="nav nav-tabs bg-silver nav-pills">
                        <li class="active"><a href="#task-tab-1" data-toggle="tab">Skills</a></li>
                        <li class=""><a href="#task-tab-2" data-toggle="tab">Knowledge</a></li>
                        <li class=""><a href="#task-tab-3" data-toggle="tab">Behavior</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="task-tab-1">
                            <div class="c_content">
                                <div class="form-group">
                                    <label>Details</label>
                                    <textarea class="form-control" rows="8">Task Skills</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="task-tab-2">
                            <div class="c_content">
                                <div class="form-group">
                                    <label>Details</label>
                                    <textarea class="form-control" rows="8">Task Knowledge</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="task-tab-3">
                            <div class="c_content">
                                <div class="form-group">
                                    <label>Details</label>
                                    <textarea class="form-control" rows="8">Task Behavior</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
