<!DOCTYPE html>
<html lang="en-us">

	<body class="minified smart-style-1">

		{{ template "head.tmpl" }}

		{{ template "sidenav.tmpl" . }}

		<!-- MAIN PANEL -->

        <div id="main" role="main">

			<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb hidden-sm hidden-xs">
					<li><a href="#">Employee Information</a></li><li><a href="#">Job Canidate Overview</a></li><li><a href="#">Job Canidate</a></li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>

			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-users"></i>
								Job Cannidates
						</h1>
					</div>
				</div>

                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-6">

                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
							<!-- widget options:
							usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

							data-widget-colorbutton="false"
							data-widget-editbutton="false"
							data-widget-togglebutton="false"
							data-widget-deletebutton="false"
							data-widget-fullscreenbutton="false"
							data-widget-custombutton="false"
							data-widget-collapsed="true"
							data-widget-sortable="false"

							-->
							<header>
								<span></span>
								<h2>Job Canidate Information</h2>
							</header>

							<!-- widget div-->
							<div>

								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->

								</div>
								<!-- end widget edit box -->

								<!-- widget content -->
                                <div class="widget-body no-padding">

										<form class="smart-form">

                                            <article class="col-lg-6">
                                                <fieldset>
                                                    <section>
                                                        <label class="label">Last Name:</label>
                                                        <label class="input">
                                                            <input type="text" class="input-sm">
                                                        </label>
                                                    </section>

                                                    <section>
                                                        <label class="label">First Name:</label>
                                                        <label class="input">
                                                            <input type="text" class="input-sm">
                                                        </label>
                                                    </section>

                                                    <section>
                                                        <label class="label">Email:</label>
                                                        <div class="input-group">
                                                            <input type="email" class="form-control" name="email" data-mask-"999">
                                                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                                        </div>
                                                    </section>

                                                    <section>
                                                        <label class="label">Work Phone:</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-mask="(999) 999-9999">
                                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                        </div>
                                                    </section>

                                                    <section>
                                                        <label class="label">Cell Phone:</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-mask="(999) 999-9999">
                                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                        </div>
                                                    </section>

                                                    <section>
                                                        <label class="label">Notes:</label>
                                                        <label class="textarea textarea-resizable">
                                                            <textarea rows="4" class="custom-scroll"></textarea>
                                                        </label>
                                                    </section>
                                                </fieldset>
                                            </article>
                                            <article class="col-lg-6">
                                                <fieldset>

                                                    <section>
                                                        <label class="label">Street:</label>
                                                        <label class="input">
                                                            <input type="text" class="input-sm">
                                                        </label>
                                                    </section>

                                                    <section>
                                                        <label class="label">City:</label>
                                                        <label class="input">
                                                            <input type="text" class="input-sm">
                                                        </label>
                                                    </section>

                                                    <section>
                                                        <label class="label">State:</label>
                                                        <label class="select">
                                                            <select>
                                                                <option>Alabama</option>
                                                                <option>Alaska</option>
                                                                <option>Arizona</option>
                                                                <option>Arkansas</option>
                                                                <option>California</option>
                                                                <option>Colorado</option>
                                                                <option>Connecticut</option>
                                                                <option>Delaware</option>
                                                                <option>Florida</option>
                                                                <option>Georgia</option>
                                                                <option>Hawaii</option>
                                                                <option>Idaho</option>
                                                                <option>Illinois</option>
                                                                <option>Indiana</option>
                                                                <option>Iowa</option>
                                                                <option>Kansas</option>
                                                                <option>Kentucky[C]</option>
                                                                <option>Louisiana</option>
                                                                <option>Maine</option>
                                                                <option>Maryland</option>
                                                                <option>Massachusetts[D]</option>
                                                                <option>Michigan</option>
                                                                <option>Minnesota</option>
                                                                <option>Mississippi</option>
                                                                <option>Missouri</option>
                                                                <option>Montana</option>
                                                                <option>Nebraska</option>
                                                                <option>Nevada</option>
                                                                <option>New Hampshire</option>
                                                                <option>New Jersey</option>
                                                                <option>New Mexico</option>
                                                                <option>New York</option>
                                                                <option>North Carolina</option>
                                                                <option>North Dakota</option>
                                                                <option>Ohio</option>
                                                                <option>Oklahoma</option>
                                                                <option>Oregon</option>
                                                                <option>Pennsylvania</option>
                                                                <option>Rhode Island</option>
                                                                <option>South Carolina</option>
                                                                <option>South Dakota</option>
                                                                <option>Tennessee</option>
                                                                <option>Texas</option>
                                                                <option>Utah</option>
                                                                <option>Vermont</option>
                                                                <option>Virginia[G]</option>
                                                                <option>Washington</option>
                                                                <option>West Virginia</option>
                                                                <option>Wisconsin</option>
                                                                <option>Wyoming</option>
                                                            </select> <i></i> </label>
                                                    </section>

                                                    <section>
                                                        <label>Zip:</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" data-mask="99999">
                                                            <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                                        </div>
                                                    </section>

                                                    <section>
                                                        <label>Birthdate:</label>
                                                        <div class="input-group">
                                                            <input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-dateformat="dd/mm/yy">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </section>
                                                    <footer>
                                                        <button type="submit" class="btn btn-primary">
                                                            Save
                                                        </button>
                                                    </footer>
                                                </fieldset>
                                            </article>



										</form>

									</div>
								<!-- end widget content -->

							</div>
							<!-- end widget div -->

						</div>
						<!-- end widget -->

                    </article>

					<article class="col-sm-12 col-md-12 col-lg-6">

						<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
							<!-- widget options:
							usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

							data-widget-colorbutton="false"
							data-widget-editbutton="false"
							data-widget-togglebutton="false"
							data-widget-deletebutton="false"
							data-widget-fullscreenbutton="false"
							data-widget-custombutton="false"
							data-widget-collapsed="true"
							data-widget-sortable="false"

							-->
							<header>
								<span></span>
								<h2>Job Canidate Search</h2>
							</header>

							<!-- widget div-->
							<div>

								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->

								</div>
								<!-- end widget edit box -->

								<!-- widget content -->
                                <div class="widget-body no-padding">

										<form class="smart-form">


											<fieldset>
												<div class="form-group">
													<label>Employee</label>
													<select style="width:100%" class="select2">
														<option>&nbsp;&nbsp;&nbsp;Choose a Canidate</option>
														<optgroup label="Sales">
															<option>Robert Jones</option>
															<option>Billy Dawnson</option>
														</optgroup>
														<optgroup label="Marketing">
															<option>Sally Smith</option>
															<option>June Martin</option>
														</optgroup>
													</select>
												</div>
											</fieldset>

										</form>

									</div>
								<!-- end widget content -->

							</div>
							<!-- end widget div -->

						</div>
						<!-- end widget -->

						<div class="jarviswidget" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
							<!-- widget options:
							usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

							data-widget-colorbutton="false"
							data-widget-editbutton="false"
							data-widget-togglebutton="false"
							data-widget-deletebutton="false"
							data-widget-fullscreenbutton="false"
							data-widget-custombutton="false"
							data-widget-collapsed="true"
							data-widget-sortable="false"

							-->
							<header>
								<h2>Job Canidate Interviews </h2>
							</header>

							<!-- widget div-->
							<div>

								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->

								</div>
								<!-- end widget edit box -->

								<!-- widget content -->
								<div class="widget-body">

									<div class="">

										<div class="tab-content">
											<div class="tab-pane active" id="s1">
												<div class="widget-body">

													<table class="table dataTable table-bordered" width="100%">
														<thead>
                                                            <tr>
        														<th class="hasinput hidden-xs hidden-sm">
        															<input type="text" class="form-control" placeholder="Filter" />
        														</th>
        				                                        <th class="hasinput hidden-xs hidden-sm">
        															<input type="text" class="form-control" placeholder="Filter" />
        														</th>
        														<th class="hasinput hidden-xs hidden-sm">
        															<input type="text" class="form-control" placeholder="Filter" />
        														</th>
        				                                        <th class="hasinput hidden-xs hidden-sm">
        															<input type="text" class="form-control" placeholder="Filter" />
        														</th>
        														<th>
        															<div class="text-center">
        																<button type="button" data-toggle="modal" data-target="#modalinterview" class="btn btn-sm btn-default" >
        																	Add
        																</button>
        															</div>
        														</th>
        													</tr>
															<tr>
																<th data-class="expand"></i> Interviewer</th>
																<th data-hide="phone"> Purpose</th>
																<th data-hide="phone"> Location</th>
                                                                <th> Date</th>
																<th class="text-center"> Action</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Billy Joe Smith</td>
                                                                <td>First Interview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                                                <td>York Office</td>
                                                                <td>06-12-2016</td>
                                                                <td class="text-center" style="width:15%;">
                                                                    <a data-toggle="modal" data-target="#modalinterview" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
        																<i class="fa fa-pencil-square-o"></i>
                                                                    </a>
        															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </td>
															</tr>
                                                            <tr>
																<td>Billy Joe Smith</td>
                                                                <td>First Interview ea commodo consequat.</td>
                                                                <td>York Office</td>
                                                                <td>06-12-2016</td>
                                                                <td class="text-center" style="width:15%;">
                                                                    <a data-toggle="modal" data-target="#modalinterview" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
        																<i class="fa fa-pencil-square-o"></i>
                                                                    </a>
        															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </td>
															</tr>

														</tbody>
													</table>

												</div>
											</div>

										</div>
									</div>

								</div>
								<!-- end widget content -->

							</div>
							<!-- end widget div -->

						</div>

                    </article>

				</div>

				<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
					<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"

					-->
					<header>
						<ul class="nav nav-tabs in">

							<li class="active">
								<a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down hidden-mobile hidden-tablet"></i> Skills</a>
							</li>

							<li>
								<a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-down hidden-mobile hidden-tablet"></i> Additional Information</a>
							</li>

						</ul>
					</header>

					<!-- widget div-->
					<div>
						<!-- widget content -->
						<div class="widget-body">

							<div class="tab-content">
								<div class="tab-pane active" id="hr1">

									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#skills" data-toggle="tab">Skills</a>
										</li>
										<li>
											<a href="#knowledge" data-toggle="tab">Knowledge</a>
										</li>
										<li>
											<a href="#behavior" data-toggle="tab">Behavior</a>
										</li>
									</ul>
									<div class="tab-content padding-10">
										<div class="tab-pane active" id="skills">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalSkills" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Details</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Employee Skills</td>
                                                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                        <td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalSkills" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

										</div>
										<div class="tab-pane fade" id="knowledge">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalKnowledge" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th>Name</th>
    		                                            <th>Details</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
    		                                            <td>Employee Knowledge</td>
    		                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalKnowledge" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
                                        	</table>

										</div>
										<div class="tab-pane fade" id="behavior">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalBehavior" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th>NAME</th>
    		                                            <th>DETAILS</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
    		                                            <td>Employee Behavior</td>
    		                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalBehavior" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
                                        	</table>

										</div>
									</div>

								</div>
								<div class="tab-pane" id="hr2">

									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#contacts" data-toggle="tab">Contacts</a>
										</li>
										<li>
											<a href="#achievements" data-toggle="tab">Achievements</a>
										</li>
										<li>
											<a href="#priorjobs" data-toggle="tab">Prior Jobs</a>
										</li>
										<li>
											<a href="#learningactivites" data-toggle="tab">Learning Activities</a>
										</li>
										<li>
											<a href="#watchlists" data-toggle="tab">Watch Lists</a>
										</li>
									</ul>
									<div class="tab-content padding-10">
										<div class="tab-pane active" id="contacts">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalContacts" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th>Name</th>
    		                                            <th>Phone</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
    		                                            <td>Employee Contact</td>
    		                                            <td>555-555-5555</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalContacts" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
											</table>

										</div>
										<div class="tab-pane fade" id="achievements">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalAchievement" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th>Name</th>
    		                                            <th>Date</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
														<td>Employee Achievements</td>
    		                                            <td>07-16-16</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalAchievement" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
											</table>

										</div>
										<div class="tab-pane fade" id="priorjobs">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalPriorJobs" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th>Name</th>
														<th>Company</th>
    		                                            <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
														<td>Employee Prior Jobs</td>
    		                                            <td>Random Company</td>
                                                        <td>05-12-16</td>
                                                        <td>05-14-16</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalPriorJobs" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
											</table>

										</div>
										<div class="tab-pane fade" id="learningactivites">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
				                                        <th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalLearningActivities" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th>Name</th>
    		                                            <th>Reference</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
														<td>Selling Fundementals</td>
    		                                            <td>Sales 101</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalLearningActivities" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
											</table>

										</div>
										<div class="tab-pane fade" id="watchlists">

											<table class="table dataTable  table-bordered" style="width:100%;">
                                                <thead>
													<tr>
														<th class="hasinput hidden-xs hidden-sm">
															<input type="text" class="form-control" placeholder="Filter" />
														</th>
														<th>
															<div class="text-center">
																<button type="button" data-toggle="modal" data-target="#modalWatchLists" class="btn btn-sm btn-default" >
																	Add
																</button>
															</div>
														</th>
													</tr>
    		                                        <tr>
    		                                            <th>Name</th>
                                                        <th class="text-center">Action</th>
    		                                        </tr>
    		                                    </thead>
    		                                    <tbody>
    		                                        <tr>
														<td>Employees who have top performing potential</td>
														<td class="text-center" style="width:12%;">
                                                            <a data-toggle="modal" data-target="#modalWatchLists" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
																<i class="fa fa-pencil-square-o"></i>
                                                            </a>
															<a rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm delete">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
    		                                        </tr>
    		                                    </tbody>
											</table>

										</div>
									</div>

								</div>
							</div>

						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->

				</div>

                <div class="modal fade" id="modalinterview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Interview</h4>
							</div>
							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Interviewer:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Purpose:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>

                                        <section>
											<label class="label">Location:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

                                        <section>
    										<label>Date:</label>
    										<div class="input-group">
    											<input type="text" class="form-control" data-mask="99/99/9999" data-mask-placeholder= "-">
    											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    										</div>
    									</section>
									</fieldset>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- WIDGET END -->
				<div class="modal fade" id="modalSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Skill</h4>
							</div>
							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Skill:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Details:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>
									</fieldset>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalKnowledge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Knowledge</h4>
							</div>
							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Knowledge:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Details:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>
									</fieldset>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalBehavior" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Behavior</h4>
							</div>
							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Behavior:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Details:</label>
											<label class="textarea textarea-expandable">
												<textarea rows="6" class="custom-scroll"></textarea>
											</label>
										</section>
									</fieldset>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalContacts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Contact</h4>
							</div>

							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Contact:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label class="label">Phone:</label>
											<div class="input-group">
												<input type="text" class="form-control" data-mask="(999) 999-9999">
												<span class="input-group-addon"><i class="fa fa-phone"></i></span>
											</div>
										</section>
									</fieldset>
								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="modalAchievement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">Add Achievement</h4>
							</div>

							<div class="modal-body">
								<form class="smart-form">

									<fieldset>
										<section>
											<label class="label">Achievement:</label>
											<label class="input">
												<input type="text" class="input-sm">
											</label>
										</section>

										<section>
											<label>Date</label>
											<div class="input-group">
												<input type="text" class="form-control" data-mask="99/99/9999" data-mask-placeholder= "-">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</section>
									</fieldset>
								</form>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
								<button type="button" class="btn btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>

			<div class="modal fade" id="modalPriorJobs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="myModalLabel">Add Prior Job</h4>
						</div>
						<div class="modal-body">

							<form class="smart-form">

								<fieldset>
									<section>
										<label class="label">Job:</label>
										<label class="input">
											<input type="text" class="input-sm">
										</label>
									</section>

									<section>
										<label class="label">Company:</label>
										<label class="input">
											<input type="text" class="input-sm">
										</label>
									</section>

									<section>
										<label>Start Date</label>
										<div class="input-group">
											<input type="text" class="form-control" data-mask="99/99/9999" data-mask-placeholder= "-">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</section>

									<section>
										<label>End Date</label>
										<div class="input-group">
											<input type="text" class="form-control" data-mask="99/99/9999" data-mask-placeholder= "-">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</section>
								</fieldset>
							</form>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Cancel
							</button>
							<button type="button" class="btn btn-primary">
								Submit
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="modal fade" id="modalLearningActivities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Add Learning Activity</h4>
					</div>
					<div class="modal-body">

						<form class="smart-form">

							<fieldset>
								<section>
									<label class="label">Activity:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>

								<section>
									<label class="label">Reference:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
							</fieldset>
						</form>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button type="button" class="btn btn-primary">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modalWatchLists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Add Watch List</h4>
					</div>
					<div class="modal-body">

						<form class="smart-form">

							<fieldset>
								<section>
									<label class="label">Employee Name:</label>
									<label class="input">
										<input type="text" class="input-sm">
									</label>
								</section>
							</fieldset>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button type="button" class="btn btn-primary">
							Submit
						</button>
					</div>

				</div>
			</div>
		</div>


	</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

		{{ template "footer.tmpl" . }}

		{{ template "scripts.tmpl" . }}


	</body>

</html>
