<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="">
    <title>PERFORM | Company Information</title>

    {{ template "head.tmpl" . }}

</head>

<body id="carrot-scheme">

    <section id="container">

        {{ template "topnav.tmpl" . }}

        {{ template "sidenav.tmpl" . }}

        <section id="main-content">


            <section class="wrapper">


                {{ template "gridmenue.tmpl" . }}

                <!--======== Page Title and Breadcrumbs Start ========-->
                <div class="top-page-header">

                    <div class="page-title">
                        <div class="pull-right margin-top-20 margin-right-20">
                            <a href="/job_information" type="button" class="btn btn-wet-asphalt btn-flat btn-raised"><i class="fa fa-plus"></i>&nbsp;Job</a>
                        </div>
                        <h2>Job Information</h2>
                        <small>Job information personalized for your company.</small>
                    </div>
                    <div class="page-breadcrumb">
                        <nav class="c_breadcrumbs">
                            <ul>
                                <li class="active"><a href="/employee_overview">Comapny Information</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <!--======== Page Title and Breadcrumbs End ========-->

                <!--======== Employee Information Start ========-->
                <div class="row">
                    <div class="col-md-12">

                        <div class="widget">

                            <div class="widget-content bg-white">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="c_panel">
                                            <div class="c_title">
                                                <h2>Job</h2>
                                                <div class="clearfix"></div>
                                            </div><!--/.c_title-->
                                            <div class="c_content">
                                                <div class="inner-addon right-addon margin-bottom-10">
                                                  <i class="fa fa-search"></i>
                                                  <input type="text" class="form-control" placeholder="Search" />
                                                </div>
                                                <select class="form-control margin-top-10">
                                                    <option>Account Manager</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>

                                            </div><!--/.c_content-->
                                        </div><!--/.c_panel-->
                                    </div>

                                </div>

                            </div><!--/widget-content-->
                        </div><!--/widget-->

                    </div>
                </div><!--/.row-->

                <div class="row">
                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">

                                <h3 class="fg-gray">ACCOUNT MANAGER</h3>
                            </div>
                            <div class="widget-content bg-white">

                                <div class="row">
                                    <div class="col-md-6">

                                        <form class="form-horizontal">
                                            <fieldset>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Series:</label>
                                                    <div class="col-md-5">
                                                        <input type="" class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Grade:</label>
                                                    <div class="col-md-5">
                                                        <input type="" class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Code:</label>
                                                    <div class="col-md-5">
                                                        <input type="" class="form-control" placeholder="" />
                                                    </div>
                                                </div>


                                            </fieldset>
                                        </form>

                                    </div>

                                    <div class="col-md-6">

                                        <form class="form-horizontal">
                                            <fieldset>

                                                <div class="form-group">
                                                    <div class="col-md-11">
                                                        <label for="textarea-expandable">Details</label>
                                                        <textarea class="form-control textarea-expandable"></textarea>

                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>

                                    </div>
                                </div><!--/row-->

                            </div><!--/widget-content-->
                        </div><!--/widget-->

                    </div>
                </div><!--/.row-->


                <!--======== Employee Information Start ========-->
                <div class="row">
                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                    <div class="col-md-4 pull-right">
                                        <ul class="nav nav-pills nav-justified">
                                            <li role="presentation" class="active"><a href="#nav-1" role="tab" data-toggle="tab">Job Tasks</a></li>
                                            <li role="presentation"><a href="#nav-2" role="tab" data-toggle="tab">Job Properties</a></li>
                                        </ul>
                                    </div>
                                <h3 class="fg-gray">JOB TASKS / PROPERITES</h3>
                            </div>
                            <div class="widget-content bg-white">

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="tab-content">

                                            <div class="tab-pane fade active in" id="nav-1">

                                                <table id="example" class="table table-striped table-hover table-bordered nowrap" style="border-spacing:0px; width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>TASKS</th>
                                                            <th>DESCRIPTION</th>
                                                            <th>NOTES</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Random Job Task Title</td>
                                                            <td>Random job task description</td>
                                                            <td>Random notes for this job task!</td>
                                                            <td class="text-center"><a href="#myModal13" data-toggle="modal" class="btn btn-sm btn-primary btn-raised rippler rippler-inverse"><i class="fa fa-align-justify"></i> Properties</a> <a href="#tasks" data-toggle="tab" class="btn btn-sm btn-green-sea btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        <!-- End Additional Info Tab -->

											<!-- Start Additional Info Tab -->
											<div class="tab-pane fade" id="nav-2">

												<ul class="nav nav-tabs nav-justified">
		                                            <li class="active"><a href="#tab-1" data-toggle="tab">Departments</a></li>
		                                            <li class=""><a href="#tab-2" data-toggle="tab">Required Learning</a></li>
		                                            <li class=""><a href="#tab-3" data-toggle="tab">Interview Questions</a></li>
		                                            <li class=""><a href="#tab-4" data-toggle="tab">Success Enablers</a></li>
		                                            <li class=""><a href="#tab-5" data-toggle="tab">Accountability Factors</a></li>
		                                        </ul>
		                                        <div class="tab-content">
		                                            <div class="tab-pane fade active in" id="tab-1">

                                                        <div class="pull-right">
                                                            <button href="#departments" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Department</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example2" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">

                                                                <thead>
    		                                                        <tr>
    		                                                            <th>DEPARTMENT</th>
    		                                                            <th>DESCRIPTION</th>
    		                                                            <th>OTHER</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Sales</td>
    		                                                            <td>Interact with future and potential clients and sell our awesome products</td>
    		                                                            <td>B Team Salesforce</td>
                                                                        <td class="text-center"><a href="#departments" data-toggle="tab" class="edit btn btn-sm btn-green-sea btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
    		                                                        </tr>
    		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

		                                            </div>
													<div class="tab-pane fade" id="tab-2">

                                                        <div class="pull-right">
                                                            <button href="#learning" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Required Learning</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example3" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
        		                                                    <tr>
        		                                                        <th>COURSE</th>
        		                                                        <th>DESCRIPTION</th>
        		                                                        <th>MONTHS REQUIRED</th>
        																<th>CERTIFICATION</th>
        		                                                        <th>OTHER</th>
        		                                                        <th class="text-center">Action</th>
        		                                                    </tr>
        		                                                </thead>
        		                                                <tbody>
        		                                                    <tr>
        		                                                        <td>Sales 101</td>
        		                                                        <td>Learn how to be the best salesman you can be!</td>
        		                                                        <td>1-3</td>
        		                                                        <td>Yes</td>
        																<td>Certification appointed by a sales manager at the end of the course</td>
                                                                        <td class="text-center"><a href="#learning" data-toggle="tab" class="edit btn btn-sm btn-green-sea btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
        		                                                    </tr>
        		                                                </tbody>
                                                             </table>

                                                        </div><!--/.c_content-->

		                                            </div>
													<div class="tab-pane fade" id="tab-3">

                                                        <div class="pull-right">
                                                            <button href="#questions" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Interview Question</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example4" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
		                                                        <tr>
		                                                            <th>QUESTION</th>
		                                                            <th>EXPECTED ANSWERS</th>
		                                                            <th>NOTES</th>
																	<th class="text-center">Action</th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Why do you want to be a salesman</td>
		                                                            <td>Because I love interacting with people!</td>
		                                                            <td>Keep an eye on their physical behavior when they answer this question!</td>
                                                                    <td class="text-center"><a href="#questions" data-toggle="tab" class="edit btn btn-sm btn-green-sea btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
		                                                        </tr>
		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

		                                            </div>
													<div class="tab-pane fade" id="tab-4">

                                                        <div class="pull-right">
                                                            <button href="#success" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Success Enabler</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example5" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
		                                                            <th>DETAILS</th>
		                                                            <th>MEASUREMENT</th>
		                                                            <th>ACTIVE</th>
		                                                            <th class="text-center">Action</th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Success Enabler</td>
		                                                            <td>Detailed Success Enabler</td>
		                                                            <td>Measurement Success Enabler</td>
                                                                    <td>YES</td>
                                                                    <td class="text-center"><a href="#success" data-toggle="tab" class="edit btn btn-sm btn-green-sea btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
		                                                        </tr>
		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

		                                            </div>
													<div class="tab-pane fade" id="tab-5">

                                                        <div class="pull-right">
                                                            <button href="#factor" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Accountability Factor</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example6" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>FACTOR</th>
    		                                                            <th>DETAILS</th>
    		                                                            <th>MEASUREMENT</th>
    		                                                            <th>ACTIVE</th>
    		                                                            <th class="text-center">Action</th>
    		                                                        </tr>
		                                                              </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Phone Call Monthly</td>
    		                                                            <td>Record at least one phone call per month</td>
    		                                                            <td>0</td>
    																	<td>YES</td>
                                                                        <td class="text-center"><a href="#factor" data-toggle="tab" class="edit btn btn-sm btn-green-sea btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
    		                                                        </tr>
    		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

		                                            </div>

		                                        </div>
												<!-- End Additional Info Tab -->

											</div>
										</div>

                                    </div>
                                </div><!--/row-->

                            </div><!--/widget-content-->
                        </div><!--/widget-->

                    </div>
                </div><!--/.row-->
                <!--======== Weekly Summary End ========-->

            </section>

        </section>
        <!--======== Main Content End ========-->


        <!--===== Right sidebar nofications start ========-->

        <aside>
            <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse hide-right-bar-notifications">
                <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
                    <div id="right-sidebar-tab-content" class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="tasks">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Job Task</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list margin-top-80">
                                    <div class="c_content">

                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Task</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Description</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Notes</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>

                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div>
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="departments">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Job Department</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list margin-top-80">
                                    <div class="c_content">

                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Department</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Description</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Other</label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div>
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="learning">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Job Required Learning</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list margin-top-80">
                                    <div class="c_content">

                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Course</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Description</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div><!--/form-group-->
                                            <div class="form-group">
                                                <label for="exampleInput">Months Required</label>
                                                <select class="form-control margin-top-10">
                                                    <option>1-2</option>
                                                    <option>2-4</option>
                                                    <option>4-6</option>
                                                    <option>6-10</option>
                                                    <option>10-12</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="switch-input primary">
                                                    <input type="checkbox" name="switch-checkbox" checked>
                                                    <i data-on="YES" data-off="NO"></i> Certification Required
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Other</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div><!--/.c_content-->
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="questions">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Interview Question</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list margin-top-80">
                                    <div class="c_content">

                                        <form>

                                            <div class="form-group">
                                                <label for="exampleInput">Question</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Expected Answer</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Notes</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>

                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div><!--/.c_content-->
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="success">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Success Enabler</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list margin-top-80">
                                    <div class="c_content">

                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Success Enabler</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Details</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Measurement</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="switch-input primary">
                                                    <input type="checkbox" name="switch-checkbox" checked>
                                                    <i data-on="YES" data-off="NO"></i> Active
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div><!--/.c_content-->
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="factor">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Accountability Factor</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list margin-top-80">
                                    <div class="c_content">

                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Accountability Factor</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Details</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Measurement</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="switch-input primary">
                                                    <input type="checkbox" name="switch-checkbox" checked>
                                                    <i data-on="YES" data-off="NO"></i> Active
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div><!--/.c_content-->
                                </ul>

                            </div>
                        </div>

                    </div><!-- /example -->
                <div class="btn-bottom-right-sidebar-close">
                    <span class="fa fa-times"></span>
                </div>

            </div>
        </aside>
        <!--===== Right sidebar nofications end ========-->

    </section><!--/.container-->

    {{ template "scripts.tmpl" . }}

</body>

</html>

<!--===== Footer End ========-->

<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal1" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Division</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example10" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Division</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lead Sales Executive</td>
                            <td>05-14-16</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a></td>

                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal2" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Department</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example10" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Technology</td>
                            <td>05-14-16</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal3" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Job</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example10" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lead Sales Executive</td>
                            <td>05-14-16</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal4" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Manager</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example10" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Manager</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sally Joe Smith</td>
                            <td>05-14-16</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal5" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Branch</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example10" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>New York City</td>
                            <td>05-14-16</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal6" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Schedule</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example10" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Schedule</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Saturday-Sunday 2:00AM - 5:30pm</td>
                            <td>05-14-16</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal7" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Performance</strong> Reviews</h4>
        </div>
        <div class="modal-body">

                <table id="example11" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Performance Reivew</th>
                            <th>Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal8" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Interview</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example12" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Interviewer</th>
                            <th>Purpose</th>
                            <th>Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sally Joe Smith</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal9" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Learning Experience</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example12" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Experience</th>
                            <th>Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal10" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Compensation</strong> History</h4>
        </div>
        <div class="modal-body">

                <table id="example13" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$18.45 per hour</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal11" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <div class="pull-right">
              <h3>Number Of PTO Days - 14</h3>
              <h6>Number of PTO Days Remaining - 3</h6>
          </div>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Paid Time/ Days Off</strong> History</h4>
        </div>
        <div class="modal-body">
                <table id="example14" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Date Off</th>
                            <th>Reason</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>05-14-16</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal12" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h3 class="text-center">Robert Jones</h3>
          <h4 class="modal-title"><strong>Miscellaneous</strong> Factors</h4>
        </div>
        <div class="modal-body">

                <table id="example15" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                    <thead>
                        <tr>
                            <th>Factor</th>
                            <th>Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                            <td>07-12-16</td>
                            <td class="text-center"><a class="delete btn btn-sm btn-pomegranate btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                        </tr>
                    </tbody>

                  </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
<!--****** Modal1 Start ******-->
  <div class="modal" id="myModal13" data-easein="fadeInLeft" data-easeout="fadeOutRight" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-lg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h3 class="text-center">Robert Jones</h3>
            <h4 class="modal-title"><strong>Task</strong> Properties</h4>
        </div>
        <div class="modal-body">
            <div class="widget">

                <ul class="nav nav-tabs bg-silver nav-justified">
                    <li class="active"><a href="#task-tab-1" data-toggle="tab">Skills</a></li>
                    <li class=""><a href="#task-tab-2" data-toggle="tab">Knowledge</a></li>
                    <li class=""><a href="#task-tab-3" data-toggle="tab">Behavior</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="task-tab-1">

                        <div class="c_content">

                            <div class="form-group">
                                <label for="textarea-expandable">Details</label>
                                <textarea class="form-control" rows="8">Task Skills</textarea>
                            </div>

                        </div><!--/.c_content-->

                    </div>
                    <div class="tab-pane fade" id="task-tab-2">

                        <div class="c_content">

                            <div class="form-group">
                                <label for="textarea-expandable">Details</label>
                                <textarea class="form-control" rows="8">Task Knowledge</textarea>
                            </div>

                        </div><!--/.c_content-->

                    </div>
                    <div class="tab-pane fade" id="task-tab-3">

                        <div class="c_content">

                            <div class="form-group">
                                <label for="textarea-expandable">Details</label>
                                <textarea class="form-control" rows="8">Task Behavior</textarea>
                            </div>

                        </div><!--/.c_content-->

                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised rippler rippler-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-wet-asphalt btn-raised rippler rippler-default" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!--****** Modal1 End ******-->
