<!DOCTYPE html>
<html lang="en-us">

	<body class="minified smart-style-1">

		{{ template "head.tmpl" }}

		{{ template "sidenav.tmpl" . }}

		<!-- MAIN PANEL -->

        <div id="main" role="main">

			<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li><a href="#">Company Information</a></li><li><a href="#">Business Results Overview</a></li><li><a href="#">Business Result</a></li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>

			<!-- MAIN CONTENT -->
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-edit fa-building"></i>
								Business Result
						</h1>
					</div>
				</div>

                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-6">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                            <header>
                                <span></span>
                                <h2>Buisiness Result Information </h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <form class="smart-form">

                                        <div class="col-sm-12 col-md-6 col-lg-6">

                                            <fieldset>

                                                <section>
                                                    <label class="label">Business Result:</label>
                                                    <label class="input">
                                                        <input type="text" class="input-sm">
                                                    </label>
                                                </section>

                                                <footer>
                                                    <button type="submit" class="btn btn-primary">
                                                        Save
                                                    </button>
                                                </footer>


                                            </fieldset>

                                        </div>

                                        <div class="col-sm-12 col-md-6 col-lg-6">

                                            <fieldset>

                                                <section>
                                                    <label class="label">Details:</label>
                                                    <label class="textarea textarea-resizable">
                                                        <textarea rows="5" class="custom-scroll"></textarea>
                                                    </label>
                                                </section>

                                            </fieldset>
                                        </div>

                                    </form>


                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>

					<!-- NEW COL START -->
					<article class="col-sm-12 col-md-12 col-lg-6">

						<!-- Widget ID (each widget will need unique ID)-->
						<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
							<!-- widget options:
							usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

							data-widget-colorbutton="false"
							data-widget-editbutton="false"
							data-widget-togglebutton="false"
							data-widget-deletebutton="false"
							data-widget-fullscreenbutton="false"
							data-widget-custombutton="false"
							data-widget-collapsed="true"
							data-widget-sortable="false"

							-->
							<header>
								<span></span>
								<h2>Business Results Search</h2>
							</header>

							<!-- widget div-->
							<div>

								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->

								</div>
								<!-- end widget edit box -->

								<!-- widget content -->
                                <div class="widget-body no-padding">

										<form class="smart-form">


											<fieldset>
												<div class="col-lg-12 col-md-12 col-sm-12">
													<section>
														<label class="label">Business Results:</label>
														<label class="select">
															<select>
                                                                <option>Establish Mid-Atlantic States Region</option>
                                                                <option>Establish Air Product</option>
                                                                <option>Establish Ocean Product</option>
                                                                <option>Establish European Region</option>
                                                                <option>Establish Asian Region</option>
															</select> <i></i> </label>
														</section>
													</div>

											</fieldset>

										</form>

									</div>
								<!-- end widget content -->

							</div>
							<!-- end widget div -->

						</div>
						<!-- end widget -->

					</article>

				</div>

                <div class="row">

					<!-- NEW WIDGET START -->
					<article class="col-sm-12">

						<!-- Widget ID (each widget will need unique ID)-->
						<div class="jarviswidget well" id="wid-id-0a" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

							<!-- widget content -->
							<div class="widget-body">
								<h2>Performance Measurements</h2>
								<div id="table" class="col-sm-12">
									<table class="dataTable click table table-hover" width="100%">

									   <thead>
										   <tr>
											   <th class="hasinput">
												   <input type="text" class="form-control" placeholder="Filter" />
											   </th>
												<th class="hasinput">
												   <input type="text" class="form-control" placeholder="Filter" />
											   </th>
												<th class="hasinput">
												   <input type="text" class="form-control" placeholder="Filter" />
											   </th>
										   </tr>
										   <tr>
											   <th data-class="expand">Name</th>
												<th>Utilitzation</th>
											   <th data-hide="phone,tablet">Notes</th>
												<th class="text-center">Action</th>
										   </tr>
									   </thead>

										<tbody>
											<tr id="click" data-toggle="tooltip" data-animation="animated fadeIn" title="View Details">
												<td>Quarterly Sales</td>
												<td>We will use the closed business report as in initial indicator of revenue growth, but it is not until product is shipped.</td>
												<td>Collected via Saleforce.com</td>
												<td class="text-center" style="width:12%;">
													<a data-toggle="modal" data-target="#modalSkills" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
														<i class="fa fa-pencil-square-o"></i>
													</a>
													<a id="delete" rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm">
														<i class="fa fa-trash"></i>
													</a>
												</td>
											</tr>
											<tr id="click" data-toggle="tooltip" data-animation="animated fadeIn" title="View Details">
												<td>Pipeline Revenue</td>
												<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
												<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</td>
												<td class="text-center" style="width:12%;">
													<a data-toggle="modal" data-target="#modalSkills" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
														<i class="fa fa-pencil-square-o"></i>
													</a>
													<a id="delete" rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm">
														<i class="fa fa-trash"></i>
													</a>
												</td>
											</tr>
										</tbody>

								   </table>
								</div>

                                <div id="info" class="col-sm-12 hide">
                                    <form class="smart-form" action="" method="post">

                                        <article class="col-sm-6">
                                            <fieldset>
												<div class="col-lg-12 col-md-12 col-sm-12">
													<section>
														<label class="label">Measurement:</label>
														<label class="select">
															<select>
                                                                <option>Customer Product</option>
                                                            </select> <i></i> </label>
														</section>
                                                    <section>
                                                        <label class="label">Utilization:</label>
                                                        <label class="textarea textarea-resizable">
                                                            <textarea rows="3" class="custom-scroll"></textarea>
                                                        </label>
                                                    </section>

                                                    <section>
                                                        <label class="label">Notes:</label>
                                                        <label class="textarea textarea-resizable">
                                                            <textarea rows="3" class="custom-scroll"></textarea>
                                                        </label>
                                                    </section>
                                                </div>

											</fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    Save
                                                </button>
                                                <button id="close" type="button" class="btn btn-default">
                                                    Cancel
                                                </button>
                                            </footer>

                                        </article>
                                    </form>
                                    <article class="col-sm-6">
                                        <table class="dataTable table" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Job Task</th>
                                                    <th>Job Information Name</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Coach Employees for Job tasks performance improvements</td>
                                                    <td>Corporate Trainer</td>
                                                    <td class="text-center" style="width:12%;">
                                                        <a data-toggle="modal" data-target="#modalSkills" rel="tooltip" data-placement="top" data-original-title="Edit" data-toggle="tab" class="btn btn-default btn-sm">
                                                            <i class="fa fa-pencil-square-o"></i>
                                                        </a>
                                                        <a id="delete" rel="tooltip" data-placement="top" data-original-title="Delete" data-toggle="tab" class="btn btn-default btn-sm">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </article>
                                </div>
							</div>
							<!-- end widget content -->
						</div>
						<!-- end widget -->

					</article>
					<!-- WIDGET END -->

				</div>

			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

		{{ template "footer.tmpl" . }}

		{{ template "scripts.tmpl" . }}

		<script type="text/javascript">
	    $('tr#click').click(function() {
	        $('#info').removeClass('hide');
	        $('#table').addClass('hide');
	    });
	    $('button#close').click(function() {
	        $('#info').addClass('hide');
	        $('#table').removeClass('hide');
	    });
	    </script>


	</body>

</html>
