<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="">
    <title>PERFORM | Employee Information</title>

    {{ template "head.tmpl" . }}

</head>
<body id="carrot-scheme">
    <section id="container">

        {{ template "topnav.tmpl" . }}
        {{ template "sidenav.tmpl" . }}

        <section id="main-content">
            <section class="wrapper">

                {{ template "gridmenue.tmpl" . }}

                <div class="top-page-header">
                    <div class="page-title">
                        <div class="pull-right margin-top-20 margin-right-20">
                            <a href="/employee_information" type="button" class="btn btn-wet-asphalt btn-raised"><i class="fa fa-plus"></i>&nbsp;New Job Canidate</a>
                        </div>
                        <h3>Job Canidates</h3>
                        <small>Potential Employees and their Information</small>
                    </div>
                    <div class="page-breadcrumb">
                        <nav class="c_breadcrumbs">
                            <ul>
                                <li class=""><a href="/job_canidates_overview">Job Canidates</a></li>
                                <li class="active"><a href="/job_canidates">Billy Smith</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8">
                        <div class="c_panel">
                            <div class="c_title bg-wet-asphalt">
                                <h2>Job Cannidate Interviews</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="c_content scroller"  style="height:300px">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Interviewer</th>
                                            <th>Purpose</th>
                                            <th>Location</th>
                                            <th>Date</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Billy Joe Smith</td>
                                            <td>First Interview</td>
                                            <td>York Office</td>
                                            <td>06-12-2016</td>
                                            <td class="text-center"><a href="#contact" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                                        </tr>
                                        <tr>
                                            <td>Billy Joe Smith</td>
                                            <td>First Interview</td>
                                            <td>York Office</td>
                                            <td>06-12-2016</td>
                                            <td class="text-center"><a href="#contact" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                                        </tr>
                                        <tr>
                                            <td>Billy Joe Smith</td>
                                            <td>First Interview</td>
                                            <td>York Office</td>
                                            <td>06-12-2016</td>
                                            <td class="text-center"><a href="#contact" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                                        </tr>
                                        <tr>
                                            <td>Billy Joe Smith</td>
                                            <td>First Interview</td>
                                            <td>York Office</td>
                                            <td>06-12-2016</td>
                                            <td class="text-center"><a href="#contact" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                                        </tr>
                                        <tr>
                                            <td>Billy Joe Smith</td>
                                            <td>First Interview</td>
                                            <td>York Office</td>
                                            <td>06-12-2016</td>
                                            <td class="text-center"><a href="#contact" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                                        </tr>
                                        <tr>
                                            <td>Billy Joe Smith</td>
                                            <td>First Interview</td>
                                            <td>York Office</td>
                                            <td>06-12-2016</td>
                                            <td class="text-center"><a href="#contact" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="c_panel">
                                            <div class="c_title">
                                                <h4>Job Canidates</h4>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="c_content">
                                                <div class="form-group">
                                                    <label class="form-label">Job Canidates</label>
                                                    <select class="select2">
                                                        <option>Billy Smith</option>
                                                        <option>Steve Robinson</option>
                                                        <option>Joe Luck</option>
                                                        <option>Sally Timins</option>
                                                        <option>Sarah Waters</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                <div class="pull-right">
                                    <a href="/employee_profile" type="button" class="btn btn-primary btn-flat btn-raised">Save</a>
                                </div>
                                <h4>Billy Smith</h4>
                            </div>
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <h4 class="head-style-1">
                                            <span class="head-text-blue">
                                                <strong>Personal</strong>
                                            </span>
                                            <span>Information</span>
                                        </h4>
                                        <form class="form-horizontal margin-top-40">
                                            <fieldset>
												<div class="form-group">
                                                    <label class="col-md-2 control-label">First Name:</label>
                                                    <div class="col-md-5">
                                                        <input type="" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
													<label class="col-md-2 control-label">Middle Name:</label>
													<div class="col-md-5">
														<input type="" class="form-control"/>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">Last Name:</label>
													<div class="col-md-5">
														<input type="" class="form-control"/>
													</div>
												</div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Notes:</label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control" placeholder="" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="head-style-1">
                                            <span class="head-text-blue">
                                                <strong>Contact</strong>
                                            </span>
                                            <span>Information</span>
                                        </h4>
                                        <form class="form-horizontal margin-top-40">
                                            <fieldset>
												<div class="form-group">
                                                    <label class="col-md-1 control-label">Street:</label>
                                                    <div class="col-md-11">
                                                        <input type="" class="form-control" placeholder="50 Rolling Hill Drive" />
                                                    </div>
                                                </div>
												<div class="form-group">
													<label class="col-md-1 control-label">City:</label>
													<div class="col-md-3">
														<input type="" class="form-control" placeholder="Lititz" />
													</div>
                                                    <label class="col-md-1 control-label">State:</label>
                                                    <div class="col-md-3">
                                                        <select class="form-control">
                                                            <option>Alabama</option>
                                                            <option>Alaska</option>
                                                            <option>Arizona</option>
                                                            <option>Arkansas</option>
                                                            <option>California</option>
                                                            <option>Colorado</option>
                                                            <option>Connecticut</option>
                                                            <option>Delaware</option>
                                                            <option>Florida</option>
                                                            <option>Georgia</option>
                                                            <option>Hawaii</option>
                                                            <option>Idaho</option>
                                                            <option>Illinois</option>
                                                            <option>Indiana</option>
                                                            <option>Iowa</option>
                                                            <option>Kansas</option>
                                                            <option>Kentucky[C]</option>
                                                            <option>Louisiana</option>
                                                            <option>Maine</option>
                                                            <option>Maryland</option>
                                                            <option>Massachusetts[D]</option>
                                                            <option>Michigan</option>
                                                            <option>Minnesota</option>
                                                            <option>Mississippi</option>
                                                            <option>Missouri</option>
                                                            <option>Montana</option>
                                                            <option>Nebraska</option>
                                                            <option>Nevada</option>
                                                            <option>New Hampshire</option>
                                                            <option>New Jersey</option>
                                                            <option>New Mexico</option>
                                                            <option>New York</option>
                                                            <option>North Carolina</option>
                                                            <option>North Dakota</option>
                                                            <option>Ohio</option>
                                                            <option>Oklahoma</option>
                                                            <option>Oregon</option>
                                                            <option>Pennsylvania</option>
                                                            <option>Rhode Island</option>
                                                            <option>South Carolina</option>
                                                            <option>South Dakota</option>
                                                            <option>Tennessee</option>
                                                            <option>Texas</option>
                                                            <option>Utah</option>
                                                            <option>Vermont</option>
                                                            <option>Virginia[G]</option>
                                                            <option>Washington</option>
                                                            <option>West Virginia</option>
                                                            <option>Wisconsin</option>
                                                            <option>Wyoming</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">Zip:</label>
                                                    <div class="col-md-3">
                                                        <input type="" class="form-control" placeholder="17543" />
                                                    </div>
												</div>
                                                <div class="form-group margin-top-40">
                                                    <label class="col-md-1 control-label">Email:</label>
                                                    <div class="col-md-6">
                                                        <input type="" class="form-control" placeholder="calebcagno@gmail.com" />
                                                    </div>
                                                </div>
                                                <div class="form-group margin-top-40">
                                                    <label class="col-md-2 control-label">Phone:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" placeholder="" data-mask="(999) 999-9999" class="form-control">
                                                        <span class="help-inline">(999) 999-9999</span>
                                                    </div>
                                                    <label class="col-md-2 control-label"> Work Phone:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" placeholder="" data-mask="(999) 999-9999" class="form-control">
                                                        <span class="help-inline">(999) 999-9999</span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                    <div class="col-md-4 pull-right">
                                        <ul class="nav nav-pills">
                                            <li role="presentation" class="active"><a href="#nav-pills-1" role="tab" data-toggle="tab">Skills</a></li>
                                            <li role="presentation"><a href="#nav-pills-2" role="tab" data-toggle="tab">Additional Info</a></li>
                                        </ul>
                                    </div>
                                <h4>Billy Smith Detailed Information</h4>
                            </div>
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
										<div class="tab-content">
											<div class="tab-pane fade active in" id="nav-pills-1">
                                                <ul class="nav nav-tabs nav-pills">
                                                    <li class="active"><a href="#default-tab-1" data-toggle="tab">Skills</a></li>
                                                    <li class=""><a href="#default-tab-2" data-toggle="tab">Knowledge</a></li>
                                                    <li class=""><a href="#default-tab-3" data-toggle="tab">Behavior</a></li>
                                                </ul>
		                                        <div class="tab-content">
		                                            <div class="tab-pane fade active in" id="default-tab-1">
                                                        <div class="pull-right">
                                                            <button href="#skill" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Skill</button>
                                                        </div>
                                                        <div class="c_content">
                                                            <table class="table dataTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>NAME</th>
                                                                        <th>DETAILS</th>
                                                                        <th class="text-center">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Employee Skills</td>
                                                                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#skill" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                              </table>
                                                        </div>
		                                            </div>
													<div class="tab-pane fade" id="default-tab-2">
                                                        <div class="pull-right">
                                                            <button href="#knowledge" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Knowledge</button>
                                                        </div>
                                                        <div class="c_content">
                                                            <table class="table dataTable">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>DETAILS</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Knowledge</td>
    		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#knowledge" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                              </table>
                                                        </div>
													</div>
													<div class="tab-pane fade" id="default-tab-3">
                                                        <div class="pull-right">
                                                            <button href="#behavior" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Behavior</button>
                                                        </div>
                                                        <div class="c_content">
                                                            <table class="table dataTable">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>DETAILS</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Behavior</td>
    		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#behavior" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                              </table>
                                                        </div>
													</div>
		                                        </div>
											</div>
											<div class="tab-pane fade" id="nav-pills-2">
												<ul class="nav nav-tabs nav-pills">
		                                            <li class="active"><a href="#tab-1" data-toggle="tab">Contacts</a></li>
		                                            <li class=""><a href="#tab-2" data-toggle="tab">Achievements</a></li>
		                                            <li class=""><a href="#tab-3" data-toggle="tab">Prior Jobs</a></li>
		                                            <li class=""><a href="#tab-4" data-toggle="tab">Learning Activities</a></li>
		                                            <li class=""><a href="#tab-5" data-toggle="tab">Watch Lists</a></li>
		                                        </ul>
		                                        <div class="tab-content">
		                                            <div class="tab-pane fade active in" id="tab-1">
                                                        <div class="pull-right">
                                                            <button href="#contact" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Contact</button>
                                                        </div>
                                                        <div class="c_content">
                                                            <table class="table dataTable">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>PHONE</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Contact</td>
    		                                                            <td>555-555-5555</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#contact" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                              </table>
                                                        </div>
		                                            </div>
													<div class="tab-pane fade" id="tab-2">
                                                        <div class="pull-right">
                                                            <button href="#achievements" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Achievements</button>
                                                        </div>
                                                        <div class="c_content">
                                                            <table class="table dataTable">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>DATE</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Achievements</td>
    		                                                            <td>07-16-16</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#achievements" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                              </table>
                                                        </div>
		                                            </div>
													<div class="tab-pane fade" id="tab-3">
                                                        <div class="pull-right">
                                                            <button href="#priorjobs" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Prior Jobs</button>
                                                        </div>
                                                        <div class="c_content">
                                                            <table class="table dataTable">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>COMPANY</th>
    		                                                            <th>START DATE</th>
                                                                        <th>END DATE</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Prior Jobs</td>
    		                                                            <td>Random Company</td>
                                                                        <td>05-12-16</td>
                                                                        <td>05-14-16</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#priorjobs" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                              </table>
                                                        </div>
		                                            </div>
													<div class="tab-pane fade" id="tab-4">
                                                        <div class="pull-right">
                                                            <button href="#learning" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Learning Activities</button>
                                                        </div>
                                                        <div class="c_content">
                                                            <table class="table dataTable">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>REFERENCE</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Selling Fundementals</td>
    		                                                            <td>Sales 101</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#learning" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                              </table>
                                                        </div>
		                                            </div>
													<div class="tab-pane fade" id="tab-5">
                                                        <div class="pull-right">
                                                            <button href="#watchlists" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Watch Lists</button>
                                                        </div>
                                                        <div class="c_content">
                                                            <table class="table dataTable">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employees who have top performing potential</td>
                                                                        <td class="text-center" style="width:12%;">
                                                                            <a href="#watchlists" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-asbestos btn-raised delete">
                                                                                <i class="fa fa-trash"></i>
                                                                            </a>
                                                                        </td>
    		                                                        </tr>
    		                                                    </tbody>
                                                              </table>
                                                        </div>
		                                            </div>
		                                        </div>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>
        <aside>
            <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse hide-right-bar-notifications">
                <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
                    <div id="right-sidebar-tab-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="skill">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Employee Skill</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Skill</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Details</label>
                                                <textarea class="form-control autosize-animated"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="knowledge">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Employee Knowledge</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Knowledge</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Details</label>
                                                <textarea class="form-control autosize-animated"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="behavior">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Employee Behavior</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Behavior</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Details</label>
                                                <textarea class="form-control autosize-animated"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="contact">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Employee Contact</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Contact</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Phone</label>
                                                <input type="text" placeholder="" data-mask="(999) 999-9999" class="form-control">
                                                <span class="help-inline">(999) 999-9999</span>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="achievements">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Employee Achievement</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Achievement</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Date</label>
                                                <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                <span class="help-inline">dd/mm/yyyy</span>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="priorjobs">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Prior Jobs</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Prior Job</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Company</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Start Date</label>
                                                <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                <span class="help-inline">dd/mm/yyyy</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">End Date</label>
                                                <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                <span class="help-inline">dd/mm/yyyy</span>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="learning">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Employee Learning Activity</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Activity</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Reference</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="watchlists">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Employee Watch List</h2>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInput">Employee Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="btn-bottom-right-sidebar-close">
                    <span class="fa fa-times"></span>
                </div>
            </div>
        </aside>
    {{ template "scripts.tmpl" . }}
    <script type="text/javascript">
    $('.click').click(function() {
        $('.addinfo').removeClass('hide');
    });
    $('.cancel').click(function() {
        $('.addinfo').addClass('hide');
    });
    </script>
</body>
</html>
