<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="">
    <title>PERFORM | Employee Development</title>

    {{ template "head.tmpl" . }}

</head>
<body id="carrot-scheme">
    <section id="container">

        {{ template "topnav.tmpl" . }}
        {{ template "sidenav.tmpl" . }}

        <section id="main-content">
            <section class="wrapper">

                {{ template "gridmenue.tmpl" . }}

                <div class="top-page-header">
                    <div class="page-title">
                        <div class="pull-right margin-top-20 margin-right-20">
                            <a href="/learning_activities" type="button" class="btn btn-wet-asphalt btn-flat btn-raised"><i class="fa fa-plus"></i>&nbsp;Course</a>
                        </div>
                        <h3>Learning Activities</h3>
                        <small>A list of courses employees can attend</small>
                    </div>
                    <div class="page-breadcrumb">
                        <nav class="c_breadcrumbs">
                            <ul>
                                <li class="active"><a href="/learning_activities_overview">Learning Activities</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                <h4>Courses</h4>
                            </div>
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-pane fade active in" id="default-tab-1">
                                            <div class="c_content">
                                                <table class="table dataTables table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>REFERENCE</th>
                                                            <th>NAME</th>
                                                            <th>CLASS LIMIT</th>
															<th>ACTIVE</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id="click">
                                                            <td>Sales 101</td>
                                                            <td>Selling Fundementals</td>
															<td>24</td>
                                                            <td class="text-center"><span class="label label-success"><i class="fa fa-check"></i></span></td>
                                                        </tr>
                                                        <tr id="click">
                                                            <td>MGT 101</td>
                                                            <td>Leadership Vision Setting</td>
															<td>12</td>
															<td class="text-center"><span class="label label-warning"><i class="fa fa-exclamation"></i></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    {{ template "scripts.tmpl" . }}
    <script type="text/javascript">
    $('tr#click').click(function() {
        window.location.href = '/learning_activities'
    });
    </script>
</body>
</html>
