<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="">
    <title>PERFORM | Employee Development</title>

    {{ template "head.tmpl" . }}

</head>

<body id="carrot-scheme">

    <section id="container">

        {{ template "topnav.tmpl" . }}

        {{ template "sidenav.tmpl" . }}

        <section id="main-content">


            <section class="wrapper">


                {{ template "gridmenue.tmpl" . }}

                <!--======== Page Title and Breadcrumbs Start ========-->
                <div class="top-page-header">

                    <div class="page-title">
                        <div class="pull-right margin-top-20 margin-right-20">
                            <a href="/learning_activities" type="button" class="btn btn-wet-asphalt btn-flat btn-raised"><i class="fa fa-plus"></i>&nbsp;Course</a>
                        </div>
                        <h2>Learning Activities</h2>
                        <small>Courses to help cultivate employee talent.</small>
                    </div>
                    <div class="page-breadcrumb">
                        <nav class="c_breadcrumbs">
                            <ul>
                                <li class=""><a href="/employee_overview">Employee Development</a></li>
                                <li class="active"><a href="/learning_activities_overview">Learning Activities</a></li>

                            </ul>
                        </nav>
                    </div>

                </div>
                <!--======== Page Title and Breadcrumbs End ========-->





                <!--======== Transaction Summary Start ========-->
                <div class="row">

                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                <div class="pull-right">
                                    <a href="/employee_profile" type="button" class="btn btn-primary btn-flat btn-raised">Save</a>
                                </div>
                                <h3 class="text-uppercase">Leadership Vision Setting</h3>
                            </div>
                            <div class="widget-content bg-white">

                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <form class="form-horizontal">
                                            <fieldset>

												<div class="form-group">
                                                    <label class="col-md-3 control-label">Name:</label>
                                                    <div class="col-md-9">
                                                        <input type="" class="form-control" placeholder="Leadership Vision Setting" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Reference:</label>
                                                    <div class="col-md-9">
                                                        <input type="" class="form-control" placeholder="MGT 101" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Category:</label>
                                                    <div class="col-md-9">
                                                        <select class="form-control">
                                                            <option>Buisiness Leadership</option>
                                                            <option>Alaska</option>
                                                            <option>Arizona</option>
                                                            <option>Arkansas</option>
                                                        </select>
                                                    </div>
												</div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Description:</label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" placeholder="" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div><!--/.col-md-8-->
                                    <div class="col-md-8">

                                        <div class="tab-content">
			                                    <ul class="nav nav-tabs nav-pills">
		                                            <li class="active"><a href="#tab1" data-toggle="tab">Details</a></li>
		                                            <li class=""><a href="#tab2" data-toggle="tab">Notes</a></li>
		                                            <li class=""><a href="#tab3" data-toggle="tab">Options</a></li>
		                                        </ul>
		                                        <div class="tab-content">
		                                            <div class="tab-pane fade active in" id="tab1">

                                                        <div class="c_content">
                                                            <form class="" action="index.html" method="post">

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <label class="col-md-offset-1 col-md-3 control-label">Type:</label>
                                                                        <div class="col-md-5">
                                                                            <select class="form-control">
                                                                                <option>Instructor Led - In Person</option>
                                                                                <option>Alaska</option>
                                                                                <option>Arizona</option>
                                                                                <option>Arkansas</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12 margin-top-20">
                                                                        <label class="col-md-offset-1 col-md-3 control-label">Provider:</label>
                                                                        <div class="col-md-2">
                                                                            <div class="switch">
                                                                                <input id="form-toggle-2" class="form-toggle form-flip-toggle lg" type="checkbox" checked>
                                                                                <label for="form-toggle-2" data-on="Internal" data-off="External"></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <select class="form-control">
                                                                                <option>Cultivisor</option>
                                                                                <option>10</option>
                                                                                <option>20</option>
                                                                                <option>25</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12 margin-top-10">
                                                                        <label class="col-md-offset-1 col-md-3 control-label">Class Size:</label>
                                                                        <div class="col-md-2">
                                                                            <select class="form-control">
                                                                                <option>5</option>
                                                                                <option>10</option>
                                                                                <option>20</option>
                                                                                <option>25</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12 margin-top-20">
                                                                        <label class="col-md-offset-1 col-md-3 control-label">Catalog:</label>
                                                                        <div class="col-md-4">
                                                                            <div class="switch">
                                                                                <input id="form-toggle-3" class="form-toggle form-flip-toggle lg" type="checkbox" checked>
                                                                                <label for="form-toggle-3" data-on="On" data-off="Off"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </form>

                                                        </div><!--/.c_content-->

		                                            </div>
													<div class="tab-pane fade" id="tab2">

                                                        <div class="c_content">

                                                            <form class="" action="index.html" method="post">
                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">Notes</label>
                                                                    <div class="col-md-10">
                                                                        <textarea class="form-control" placeholder="" rows="5"></textarea>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div><!--/.c_content-->

		                                            </div>
                                                    <div class="tab-pane fade" id="tab3">

                                                        <div class="c_content">

                                                                <h4>OPTIONS HERE</h4>

                                                        </div><!--/.c_content-->

		                                            </div>

		                                        </div>

										</div>

                                    </div>

                                </div><!--/row-->

                            </div><!--/widget-content-->
                        </div><!--/widget-->

                    </div><!--/.col-md-6-->
                </div>
                <!--======== Employee Information Start ========-->
                <div class="row">
                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                    <div class="col-md-4 pull-right">
                                        <ul class="nav nav-pills nav-pills">
                                            <li role="presentation" class="active"><a href="#nav-pills-1" role="tab" data-toggle="tab">Detailed Information</a></li>
                                            <li role="presentation"><a href="#nav-pills-2" role="tab" data-toggle="tab">Related Skills</a></li>
                                        </ul>

                                    </div>
                                <h3 class="text-uppercase">EMPLOYEE DETAILED INFORMATION</h3>
                            </div>
                            <div class="widget-content bg-white">

                                <div class="row">
                                    <div class="col-md-12">

										<div class="tab-content">
											<div class="tab-pane fade active in" id="nav-pills-1">

												<ul class="nav nav-tabs nav-pills">
		                                            <li class="active"><a href="#default-tab-1" data-toggle="tab">Sessions</a></li>
		                                            <li class=""><a href="#default-tab-2" data-toggle="tab">Learning Outcomes</a></li>
		                                            <li class=""><a href="#default-tab-3" data-toggle="tab">Prework Assignments</a></li>
                                                    <li class=""><a href="#default-tab-4" data-toggle="tab">Course Exercises</a></li>
                                                    <li class=""><a href="#default-tab-5" data-toggle="tab">Activity Materials</a></li>
		                                        </ul>
												<!-- Start Skills Tab -->
		                                        <div class="tab-content">
		                                            <div class="tab-pane fade active in" id="default-tab-1">

                                                        <div class="pull-right">
                                                            <button href="#session" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Session</button>
                                                        </div>
                                                        <div class="c_content">

                                                            <table id="example" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>INSTRUCTOR</th>
                                                                        <th>LOCATION</th>
                                                                        <th>START DATE</th>
                                                                        <th>END DATE</th>
                                                                        <th>START TIME</th>
                                                                        <th>END TIME</th>
                                                                        <th>CLASS SIZE</th>
                                                                        <th>ACTIVE</th>
                                                                        <th class="text-center">ACTION</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    <tr>
                                                                        <td>Ken Johnson</td>
                                                                        <td>CHQ Boardroom</td>
                                                                        <td>September 5th, 2016</td>
                                                                        <td>September 8th, 2016</td>
                                                                        <td>7:00am</td>
                                                                        <td>12:45pm</td>
                                                                        <td>24</td>
                                                                        <td class="text-center"><span class="label label-success"><i class="fa fa-check"></i></span></td>
                                                                        <td class="text-center"><a href="#session" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a></td>
                                                                    </tr>
                                                                </tbody>

                                                              </table>
                                                        </div><!--/.c_content-->

		                                            </div>
													<div class="tab-pane fade" id="default-tab-2">

                                                        <div class="pull-right">
                                                            <button href="#outcome" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Learning Outcome</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example2" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>TASK</th>
    		                                                            <th>OUTCOME</th>
                                                                        <th>CATEGORY</th>
                                                                        <th class="text-center">ACTION</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Learning Outcome Task</td>
                                                                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                                        <td>Learning Outcome Category</td>
                                                                        <td class="text-center"><a href="#knowledge" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
    		                                                        </tr>
    		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

													</div>
													<div class="tab-pane fade" id="default-tab-3">

                                                        <div class="pull-right">
                                                            <button href="#assignment" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Prework Assignment</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example3" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>DETAILS</th>
                                                                        <th class="text-center">ACTION</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Behavior</td>
    		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                                        <td class="text-center"><a href="#behavior" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
    		                                                        </tr>
    		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

													</div>
                                                    <div class="tab-pane fade" id="default-tab-4">

                                                        <div class="pull-right">
                                                            <button href="#exercises" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Course Exercises</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example4" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>DETAILS</th>
                                                                        <th class="text-center">ACTION</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Behavior</td>
    		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                                        <td class="text-center"><a href="#behavior" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
    		                                                        </tr>
    		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

													</div>
                                                    <div class="tab-pane fade" id="default-tab-5">

                                                        <div class="pull-right">
                                                            <button href="#materials" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Activity Materials</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example5" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>NAME</th>
    		                                                            <th>DETAILS</th>
                                                                        <th class="text-center">ACTION</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Behavior</td>
    		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                                        <td class="text-center"><a href="#behavior" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
    		                                                        </tr>
    		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

													</div>

		                                        </div>
												<!-- End Skills Tab -->
											</div>
											<!-- Start Additional Info Tab -->
											<div class="tab-pane fade" id="nav-pills-2">

												<ul class="nav nav-tabs nav-pills">
		                                            <li class="active"><a href="#tab-1" data-toggle="tab">Skills</a></li>
		                                        </ul>
		                                        <div class="tab-content">
		                                            <div class="tab-pane fade active in" id="tab-1">

                                                        <div class="pull-right">
                                                            <button href="#skill" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Skill</button>
                                                        </div>

                                                        <div class="c_content">

                                                            <table id="example5" class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                                <thead>
    		                                                        <tr>
    		                                                            <th>SKILL</th>
    		                                                            <th>DESCRIPTION</th>
                                                                        <th class="text-center">Action</th>
    		                                                        </tr>
    		                                                    </thead>
    		                                                    <tbody>
    		                                                        <tr>
    		                                                            <td>Employee Contact</td>
    		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                                                        <td class="text-center"><a href="#contact" data-toggle="tab" class="edit btn btn-sm btn-peter-river btn-raised rippler rippler-inverse toggle-right-sidebar"><i class="fa fa-pencil-square-o"></i></a>  <a class="delete btn btn-sm btn-asbestos btn-raised rippler rippler-inverse" href="javascript:;"><i class="fa fa-trash"></i></a>
    		                                                        </tr>
    		                                                    </tbody>

                                                              </table>

                                                        </div><!--/.c_content-->

		                                            </div>

		                                        </div>
												<!-- End Additional Info Tab -->

											</div>
										</div>

                                    </div>
                                </div><!--/row-->

                            </div><!--/widget-content-->
                        </div><!--/widget-->

                    </div>
                </div><!--/.row-->
                <!--======== Weekly Summary End ========-->

            </section>

        </section>
        <!--======== Main Content End ========-->


        <!--===== Right sidebar nofications start ========-->

        <aside>
            <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse hide-right-bar-notifications">
                <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
                    <div id="right-sidebar-tab-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="session">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Session</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list ">
                                    <div class="c_content">

                                        <form class="" action="index.html" method="post">

                                            <div class="form-group">
                                                <label for="exampleInput">Instructor's Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Locaton</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="daterange-3">Start Date</label>
                                                <div class="controls">
                                                    <input type="text" class="form-control datepicker daterange text-center" value="08/17/1990">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="daterange-3">End Date</label>
                                                <div class="controls">
                                                    <input type="text" class="form-control datepicker daterange text-center" value="08/17/1990">
                                                </div>
                                            </div>
                                            <div class="col-md-12">

                                                <label>Start Time</label>
                                                <div class="form-group">

                                                    <div class="col-md-5">
                                                        <select class="form-control">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">

                                                        <h4>:</h4>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <select class="form-control">
                                                            <option>00</option>
                                                            <option>15</option>
                                                            <option>30</option>
                                                            <option>45</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 margin-top-10">

                                                <label>End Time</label>
                                                <div class="form-group">

                                                    <div class="col-md-5">
                                                        <select class="form-control">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <h4>:</h4>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <select class="form-control">
                                                            <option>00</option>
                                                            <option>15</option>
                                                            <option>30</option>
                                                            <option>45</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 margin-top-20">
                                                <div class="form-group">
                                                    <label>Active</label>

                                                    <div class="switch">
                                                        <input id="form-toggle-1" class="form-toggle form-flip-toggle lg" type="checkbox" checked>
                                                        <label for="form-toggle-1" data-on="YES" data-off="NO"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div>
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="outcome">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Learning Outcome</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list ">
                                    <div class="c_content">

                                        <form class="" action="index.html" method="post">

                                            <div class="form-group">
                                                <label for="exampleInput">Task</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Outcome</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Category</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div>
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="assignment">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Prework Assignment</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list ">
                                    <div class="c_content">

                                        <form class="" action="index.html" method="post">

                                            <div class="form-group">
                                                <label for="exampleInput">Field Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Field Phone</label>
                                                <input type="text" placeholder="" data-mask="(999) 999-9999" class="form-control">
                                                <span class="help-inline">(999) 999-9999</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Field Option</label>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Field Expand</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="daterange-3">Field Date</label>
                                                <div class="controls">
                                                    <input type="text" class="form-control datepicker daterange text-center" value="08/17/1990">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div>
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="exercises">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Course Exercise</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list ">
                                    <div class="c_content">

                                        <form class="" action="index.html" method="post">

                                            <div class="form-group">
                                                <label for="exampleInput">Field Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Field Phone</label>
                                                <input type="text" placeholder="" data-mask="(999) 999-9999" class="form-control">
                                                <span class="help-inline">(999) 999-9999</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Field Option</label>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Field Expand</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="daterange-3">Field Date</label>
                                                <div class="controls">
                                                    <input type="text" class="form-control datepicker daterange text-center" value="08/17/1990">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div>
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="materials">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Activity Material</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list ">
                                    <div class="c_content">

                                        <form class="" action="index.html" method="post">

                                            <div class="form-group">
                                                <label for="exampleInput">Field Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Field Phone</label>
                                                <input type="text" placeholder="" data-mask="(999) 999-9999" class="form-control">
                                                <span class="help-inline">(999) 999-9999</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Field Option</label>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Field Expand</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="daterange-3">Field Date</label>
                                                <div class="controls">
                                                    <input type="text" class="form-control datepicker daterange text-center" value="08/17/1990">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div>
                                </ul>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="skill">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Skill</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">

                                <ul class="right-sidebar-list ">
                                    <div class="c_content">

                                        <form class="" action="index.html" method="post">

                                            <div class="form-group">
                                                <label for="exampleInput">Field Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Field Phone</label>
                                                <input type="text" placeholder="" data-mask="(999) 999-9999" class="form-control">
                                                <span class="help-inline">(999) 999-9999</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Field Option</label>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="textarea-expandable">Field Expand</label>
                                                <textarea class="form-control textarea-expandable"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="daterange-3">Field Date</label>
                                                <div class="controls">
                                                    <input type="text" class="form-control datepicker daterange text-center" value="08/17/1990">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt btn-flat margin-top-20">Submit</button>
                                        </form>

                                    </div>
                                </ul>

                            </div>
                        </div>

                    </div>
                <div class="btn-bottom-right-sidebar-close">
                    <span class="fa fa-times"></span>
                </div>

            </div>
        </aside>
        <!--===== Right sidebar nofications end ========-->

    </section><!--/.container-->

    <!--****** Modal End ******-->
    {{ template "scripts.tmpl" . }}

</body>

</html>

<!--===== Footer End ========-->
