<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Perform | Learning_Activities</title>
	{{ template "head.tmpl" . }}
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">

		{{ template "nav.tmpl" . }}

		<!-- begin #content -->
		<div id="content" class="content">

            <div class="panel">

                <div class="panel-body bg-">
                    <div class="row">
        				<!-- begin col-3 -->
        				<div class="col-md-12 col-sm-6">
        					<div class="widget widget-stats bg-custom">
        						<div class="stats-icon"><i class="fa fa-road"></i></div>
        						<div class="stats-info">
        							<h4 class="f-w-400">Learning</h4>
        							<p class="f-s-20 f-w-400">Activities</p>
        						</div>
								<div class="stats-link">
                                    <a href="/learning_activities_overview" class=""><span class="f-s-18">View All Activites</span> &nbsp;&nbsp;&nbsp;<i class="fa fa-list fa-2x"></i></a>
        						</div>
        					</div>
        				</div>

        			</div>
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-6 -->
                        <div class="col-md-12">
                            <!-- begin panel -->
                            <div class="panel panel-inverse" >
                                <div class="panel-heading">
                                    <div class="panel-heading-btn">

                                    </div>
                                    <h4 class="panel-title">Learning Activity Courses</h4>
                                </div>
                                <div class="panel-body bg-silver">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <select class="form-control">
                                                    <option>Leadership Vision Setting</option>
                                                    <option>Selling Fundementals</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" placeholder="Search" />
                                            </div>
                                            <a class="btn btn-md btn-default m-r-5 m-b-5"><i class="fa fa-1x fa-th"></i> Clear</a>
                                            <div class="pull-right">
                                                <a class="btn btn-default btn-md m-r-5 m-b-5"><i class="fa fa-floppy-o"></i> Save</a>
                                                <a href="#" class="btn btn-custom btn-md m-r-5 m-b-5"><i class="fa fa-plus"></i> Add Course</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end panel -->
                        </div>
                        <!-- end col-6 -->
                    </div>
                    <!-- end row -->
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-12 -->
                        <div class="col-md-12">
                            <!-- begin panel -->
                            <div class="panel panel-inverse bg-inverse" >
                                <div class="panel-heading">
                                    <div class="panel-heading-btn">

                                    </div>
                                    <h4 class="panel-title">Leadership Vision Setting</h4>
                                </div>
                                <div class="panel-body bg-silver">
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <form class="form-horizontal" action="/" method="POST">
                                                <fieldset>

                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Name:</label>
                                                        <div class="col-md-9">
                                                            <input type="email" class="form-control" placeholder="Leadership Vision Setting" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Reference:</label>
                                                        <div class="col-md-9">
                                                            <input type="email" class="form-control" placeholder="MGT 101" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Category:</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control">
                                                                <option>Buisiness Leadership</option>
                                                                <option></option>
                                                                <option></option>
                                                                <option></option>
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Description:</label>
                                                        <div class="col-md-9">
                                                            <textarea class="form-control" placeholder="Textarea" rows="8">Elements that constitute a solid vision plan and statement.


How to implement and manage the change process.
                                                            </textarea>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </form>

                                        </div>
                                        <div class="col-md-6">

                                            <ul class="nav nav-tabs nav-justified">
                                                <li class="active"><a href="#nav-1" data-toggle="tab">Details</a></li>
                                                <li><a href="#nav-2" data-toggle="tab">Notes</a></li>
                                                <li><a href="#nav-3" data-toggle="tab">Options</a></li>
                                            </ul>
                                            <div class="tab-content" id="nav-1">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Type:</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control">
                                                                <option>Instruct Led - In Person</option>
                                                                <option></option>
                                                                <option></option>
                                                                <option></option>
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <br>
                                                <div class="row">

                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Provider:</label>
                                                        <div class="col-md-5">
                                                            <ul class="nav nav-pills">
                                                                <li><a href="#nav-pills-1" data-toggle="tab" class="btn btn-default btn-sm m-b-5">Internal</a></li>
                                                                <li class="active"><a href="#nav-pills-2" data-toggle="tab" class="btn btn-default btn-sm m-b-5">External</a></li>
                                                            </ul>
                                                            <select class="form-control">
                                                                <option>Cultivisor</option>
                                                                <option></option>
                                                                <option></option>
                                                                <option></option>
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Class Size:</label>
                                                        <div class="col-md-5">
                                                            <input type="email" class="form-control" placeholder="12" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Catalog:</label>
                                                        <div class="col-md-5">
                                                            <ul class="nav nav-pills">
                                                                <li class="active"><a href="#nav-pills-1" data-toggle="tab" class="btn btn-default btn-sm m-b-5">On</a></li>
                                                                <li><a href="#nav-pills-2" data-toggle="tab" class="btn btn-default btn-sm m-b-5">Off</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end panel -->
                        </div>
                        <!-- end col-12 -->
                    </div>
                    <!-- end row -->
					<!-- begin row -->
                    <div class="row">
                        <!-- begin col-12 -->
                        <div class="col-12">
                            <!-- begin panel -->
                            <div class="panel panel-inverse bg-silver" >
                                <div class="panel-heading">
                                    <div class="panel-heading-btn">

                                    </div>
                                    <h4 class="panel-title">More Information</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">

										<ul class="nav nav-pills">
											<li class="active"><a href="#nav-pills-1" data-toggle="tab" class="btn btn-default btn-md m-r-5 m-b-5"><i class="fa fa-file-text-o"></i>&nbsp; Job Tasks</a></li>
											<li><a href="#nav-pills-2" data-toggle="tab" class="btn btn-default btn-md m-r-5 m-b-5"><i class="fa fa-file-o"></i>&nbsp; Job Properties</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade active in" id="nav-pills-1">

												<ul class="nav nav-tabs nav-justified">
		                                            <li class="active"><a href="#default-tab-1" data-toggle="tab">Skills</a></li>
		                                            <li class=""><a href="#default-tab-2" data-toggle="tab">Knowledge</a></li>
		                                            <li class=""><a href="#default-tab-3" data-toggle="tab">Behavior</a></li>
		                                        </ul>
												<!-- Start Skills Tab -->
		                                        <div class="tab-content">
		                                            <div class="tab-pane fade active in" id="default-tab-1">
														<div class="pull-right">
															<a href="#modal-dialog-skill" class="btn btn-custom btn-md m-r-5 m-b-5" data-toggle="modal"><i class="fa fa-plus"></i> Add Skill</a>
														</div>
														<br>

														<table id="" class="display table table-striped table-bordered nowrap" width="100%">
		                                                    <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
		                                                            <th>DETAILS</th>
		                                                            <th></th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Employee Skills</td>
		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                            <td id="delete" class="text-center"><a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>

		                                            </div>
													<div class="tab-pane fade" id="default-tab-2">
														<div class="pull-right">
															<a href="#modal-dialog-knowledge" class="btn btn-custom btn-md m-r-5 m-b-5" data-toggle="modal"><i class="fa fa-plus"></i> Add Knowledge</a>
														</div>
														<br>

														<table id="" class="display table table-striped table-bordered nowrap" width="100%">
		                                                    <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
		                                                            <th>DETAILS</th>
		                                                            <th></th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Employee Knowledge</td>
		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                            <td id="delete" class="text-center"><a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>

													</div>
													<div class="tab-pane fade" id="default-tab-3">
														<div class="pull-right">
															<a href="#modal-dialog-knowledge" class="btn btn-custom btn-md m-r-5 m-b-5" data-toggle="modal"><i class="fa fa-plus"></i> Add Behavior</a>
														</div>
														<br>

														<table id="" class="display table table-striped table-bordered nowrap" width="100%">
		                                                    <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
		                                                            <th>DETAILS</th>
		                                                            <th></th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Employee Behavior</td>
		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                            <td id="delete" class="text-center"><a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>

													</div>
		                                        </div>
												<!-- End Skills Tab -->
											</div>
											<!-- Start Additional Info Tab -->
											<div class="tab-pane fade" id="nav-pills-2">

												<ul class="nav nav-tabs nav-justified">
		                                            <li class="active"><a href="#tab-1" data-toggle="tab">Contacts</a></li>
		                                            <li class=""><a href="#tab-2" data-toggle="tab">Achievements</a></li>
		                                            <li class=""><a href="#tab-3" data-toggle="tab">Prior Jobs</a></li>
		                                            <li class=""><a href="#tab-4" data-toggle="tab">Learning Activities</a></li>
		                                            <li class=""><a href="#tab-5" data-toggle="tab">Watch Lists</a></li>
		                                        </ul>
		                                        <div class="tab-content">
		                                            <div class="tab-pane fade active in" id="tab-1">
														<div class="pull-right">
															<a href="#modal-dialog-contact" class="btn btn-custom btn-md m-r-5 m-b-5" data-toggle="modal"><i class="fa fa-plus"></i> Add Contact</a>
														</div>
														<br>

														<table id="" class="display table table-striped table-bordered nowrap" width="100%">
		                                                    <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
		                                                            <th>PHONE</th>
		                                                            <th></th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Employee Contact</td>
		                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		                                                            <td class="text-center"><a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>

		                                            </div>
													<div class="tab-pane fade" id="tab-2">
														<div class="pull-right">
															<a href="#modal-dialog-achievements" class="btn btn-custom btn-md m-r-5 m-b-5" data-toggle="modal"><i class="fa fa-plus"></i> Add Achievements</a>
														</div>
														<br>

														<table id="" class="display table table-striped table-bordered nowrap" width="100%">
		                                                    <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
		                                                            <th>DATE</th>
		                                                            <th></th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Employee Achievement</td>
		                                                            <td>07-16-16</td>
		                                                            <td class="text-center"><a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>

		                                            </div>
													<div class="tab-pane fade" id="tab-3">
														<div class="pull-right">
															<a href="#modal-dialog-priorjobs" class="btn btn-custom btn-md m-r-5 m-b-5" data-toggle="modal"><i class="fa fa-plus"></i> Add Prior Jobs</a>
														</div>
														<br>

														<table id="" class="display table table-striped table-bordered nowrap" width="100%">
		                                                    <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
																	<th>COMPANY</th>
		                                                            <th>START DATE</th>
																	<th>END DATE</th>
																	<th></th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Employee Prior Jobs</td>
		                                                            <td>Random Company</td>
																	<td>05-12-16</td>
																	<td>05-14-16</td>
		                                                            <td class="text-center"><a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>

		                                            </div>
													<div class="tab-pane fade" id="tab-4">
														<div class="pull-right">
															<a href="#modal-dialog-learning" class="btn btn-custom btn-md m-r-5 m-b-5" data-toggle="modal"><i class="fa fa-plus"></i> Add Learning Activities</a>
														</div>
														<br>

														<table id="" class="display table table-striped table-bordered nowrap" width="100%">
		                                                    <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
		                                                            <th>REFERENCE</th>
		                                                            <th></th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Selling Fundementals</td>
		                                                            <td>Sales 101</td>
		                                                            <td class="text-center"><a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>

		                                            </div>
													<div class="tab-pane fade" id="tab-5">
														<div class="pull-right">
															<a href="#modal-dialog-watchlists" class="btn btn-custom btn-md m-r-5 m-b-5" data-toggle="modal"><i class="fa fa-plus"></i> Add Watch Lists</a>
														</div>
														<br>

														<table id="" class="display table table-striped table-bordered nowrap" width="100%">
		                                                    <thead>
		                                                        <tr>
		                                                            <th>NAME</th>
		                                                            <th></th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr>
		                                                            <td>Employees who have top performing potential</td>
		                                                            <td class="text-center"><a class="btn btn-danger btn-icon btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>

		                                            </div>

		                                        </div>
												<!-- End Additional Info Tab -->

											</div>
										</div>

                                    </div>
                                </div>
                            </div>
                            <!-- end panel -->
                        </div>
                        <!-- end col-6 -->
                    </div>
                        <!-- end row -->
                </div>
            </div>
			<!-- end page-header -->

		</div>
		<!-- end #content -->


		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-custom btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	{{ template "scripts.tmpl" . }}

	<script>
		$(document).ready(function() {
			App.init();
			TableManageResponsive.init();
			$('table.display').DataTable();
			$("#table tr").css('cursor', 'pointer');
		});
	</script>

	<!-- Add Miscellaneous Factors Modal -->
	<div class="modal fade" id="modal-dialog-misc">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-custom">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="modal-title text-center text-white f-w-400">Miscellaneous Factors</h3>
				</div>
				<div class="modal-footer">
					<div class="tab-pane fade active in">

						<ul class="nav nav-tabs nav-justified">
							<li class="active"><a href="#tab1" data-toggle="tab">Factor Involing A Single Employee</a></li>
							<li class=""><a href="#tab2" data-toggle="tab">Factor Involving All Employees</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tab1">

								<div class="row">
									<label class="col-md-2 control-label">Employee:</label>
									<div class="col-md-10">
										<select class="form-control">
											<option>Robert Jones</option>
											<option></option>
											<option></option>
										</select>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="form-group">
										<label class="col-md-2 control-label">Factor:</label>
										<div class="col-md-10">
											<textarea class="form-control" placeholder="" rows="4"></textarea>
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="form-group">
										<label class="col-md-2 control-label">Date Began:</label>
										<div class="col-md-4">
											<input type="email" class="form-control" placeholder="" />
										</div>
										<label class="col-md-2 control-label">Date Ended:</label>
										<div class="col-md-4">
											<input type="email" class="form-control" placeholder="" />
										</div>
									</div>

								</div>

							</div>
							<div class="tab-pane fade" id="tab2">

								<div class="row">
									<div class="form-group">
										<label class="col-md-2 control-label">Factor:</label>
										<div class="col-md-10">
											<textarea class="form-control" placeholder="" rows="4"></textarea>
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="form-group">
										<label class="col-md-2 control-label">Date Began:</label>
										<div class="col-md-4">
											<input type="email" class="form-control" placeholder="" />
										</div>
										<label class="col-md-2 control-label">Date Ended:</label>
										<div class="col-md-4">
											<input type="email" class="form-control" placeholder="" />
										</div>
									</div>

								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="form-group">
							<label class="col-md-2 control-label">Notes:</label>
							<div class="col-md-10">
								<textarea class="form-control" placeholder="" rows="4"></textarea>
							</div>
						</div>
					</div>
					<a class="btn btn-default btn-md m-r-5 m-t-10 m-b-5" data-dismiss="modal"><i class="fa fa-times"></i> Close</a>
					<a class="btn btn-custom btn-md m-r-5 m-t-10 m-b-5"><i class="fa fa-plus"></i> Add</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End Miscellaneous Factors Modal -->

</body>
</html>
