<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="thema bootstrap template, thema admin, bootstrap, admin template, bootstrap admin">

    <meta name="author" content="LanceCoder">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="">
    <title>Perform | Login</title>

	{{ template "head.tmpl" . }}

</head>
<body id="carrot-scheme" class="form-background">

    <!--main content start-->
    <div class="bg-overlay"></div>
    <section class="registration-login-wrapper">

        <!--======== START LOGIN ========-->
        <div class="row page-login">

            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

                <div class="form-body bg-white padding-20">
                    <div class="row">
                        <div class="col-md-12">
							<div class="form-header bg-white padding-10 text-center">
								<h2><strong>Login</strong> to P.E.R.F.O.R.M.</h2>
								<p>Not yet signed up? Click <a href="/register" class="color-green">Sign Up</a> your account.</p>
							</div>
							<div class="col-md-offset-3 col-md-6">


								<form action="/login" method="post">
									<div class="inner-addon right-addon margin-bottom-15">
										<i class="fa fa-building"></i>
										<input type="text" name="company" class="form-control" placeholder="Company" />
									</div>

									<div class="inner-addon right-addon margin-bottom-15">
										<i class="fa fa-user"></i>
										<input type="text" name="username" class="form-control" placeholder="Username" />
									</div>

									<div class="inner-addon right-addon margin-bottom-15">
										<i class="fa fa-lock"></i>
										<input type="password" name="password"class="form-control" placeholder="Password" />
									</div>

									<div class="row">
										<div class="col-md-6 text-center">
											<div class="checkbox">
												<label>
													<input type="checkbox" class="icheck-aero"> Remember me
												</label>
											</div>
										</div>
										<div class="col-md-6 text-center">
											<button type="submit" class="btn btn-green btn-raised btn-flat">Access Account</button>
										</div>
									</div>
								</form>

							</div>

                        </div><!--/col-md-6-->


                    </div><!--/row-->

                    <hr/>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>Forgot Password?</h4>
                            <p><a href="#">Click here to reset password</a></p>
                        </div>
                    </div>

                </div><!--/form-body-->

            </div><!--/col-md-12-->

        </div><!--/row-->
        <!--======== END LOGIN ========-->

    </section>
    <!--======== Main Content End ========-->

	{{ template "scripts.tmpl" .}}

</body>

</html>

<!--===== Footer End ========-->
