<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="">
    <title>PERFORM | Employee Performance</title>

    {{ template "head.tmpl" . }}

</head>
<body id="carrot-scheme">
    <section id="container">

        {{ template "topnav.tmpl" . }}
        {{ template "sidenav.tmpl" . }}

        <section id="main-content">
            <section class="wrapper">

                {{ template "gridmenue.tmpl" . }}

                <div class="top-page-header">
                    <div class="page-title">
                        <div class="pull-right margin-top-20 margin-right-20">
                            <a href="/observation_goals" type="button" class="btn btn-wet-asphalt btn-flat btn-raised"><i class="fa fa-plus"></i>&nbsp;Observation Goal</a>
                        </div>
                        <h3>Observation Goals</h3>
                        <small>Employee Observation Goals</small>
                    </div>
                    <div class="page-breadcrumb">
                        <nav class="c_breadcrumbs">
                            <ul>
                                <li class="active"><a href="/observation_goals">Observation Goals</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                <div class="pull-right">
                                    <a href="/observation_goal" type="button" class="btn btn-primary btn-flat btn-raised">Save</a>
                                </div>
                                <h4>Observation Goal</h4>
                            </div>
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="" action="" method="post">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="control-label">Description:</label>
                                                    <textarea rows="4" class="form-control autosize-animated">Secure space agreements with a minimum of six airlines per refion: USA, Europe, Northern Asian. Secure a minimum of 25 air transportation customers.</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Notes:</label>
                                                    <textarea rows="4" class="form-control autosize-animated">Secure space agreements with a minimum of six airlines per refion: USA, Europe, Northern Asian. Secure a minimum of 25 air transportation customers.</textarea>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="c_panel">
                                            <div class="c_title">
                                                <h4>Employee</h4>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="c_content">
                                                <div class="form-group">
                                                    <label class="form-label">Employee</label>
                                                    <select class="select2">
                                                            <option>Robert Jones</option>
                                                            <option></option>
                                                            <option></option>
                                                            <option></option>
                                                            <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                <h4>Job Tasks / Properties</h4>
                            </div>
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-content">
											<div class="pull-right margin-bottom-20">
												<button href="#observation" data-toggle="tab" type="button" class="btn btn-wet-asphalt btn-flat btn-raised toggle-right-sidebar"><i class="fa fa-plus"></i>&nbsp;Observation Goal</button>
											</div>
                                            <table class="table dataTables table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>NAME</th>
                                                        <th>START DATE</th>
                                                        <th>END DATE</th>
														<th>NOTES</th>
														<th>DETAILS</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Ride with Robert Jones to improve sales practices</td>
                                                        <td>04-16-2016</td>
                                                        <td>06-16-2016</td>
														<td>At least twice a week</td>
														<td>Provide weekly calls to Robert's manager</td>
                                                        <td class="text-center" style="width:10%;">
                                                            <a href="#observation" data-toggle="tab" class="btn btn-sm btn-peter-river btn-raised toggle-right-sidebar">
                                                                <i class="fa fa-pencil-square-o"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-asbestos btn-raised">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <aside>
            <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse hide-right-bar-notifications">
                <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
                    <div id="right-sidebar-tab-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="observation">
                            <div class="right-sidebar-panel-content-heading">
                                <h2 class="text-center"><i class="fa fa-plus"></i>&nbsp;Observation Goal</h2>
                                <small></small>
                            </div>
                            <div class="right-sidebar-panel-content animated fadeInRight">
                                <ul class="right-sidebar-list ">
                                    <div class="c_content">
										<form class="" action="" method="post">
											<div class="form-group">
                                                <label for="exampleInput">Branch</label>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Start Date</label>
                                                <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                <span class="help-inline">dd/mm/yyyy</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">End Date</label>
                                                <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                <span class="help-inline">dd/mm/yyyy</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Actual Start Date</label>
                                                <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                <span class="help-inline">dd/mm/yyyy</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Actual End Date</label>
                                                <input type="text" placeholder="" data-mask="99/99/9999" class="form-control">
                                                <span class="help-inline">dd/mm/yyyy</span>
                                            </div>
											<div class="form-group">
                                                <label for="textarea-expandable">Notes</label>
                                                <textarea class="form-control autosize-animated"></textarea>
                                            </div>
											<div class="form-group">
                                                <label for="textarea-expandable">Details</label>
                                                <textarea class="form-control autosize-animated"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-wet-asphalt" style="bottom:10px; position:fixed;">Submit</button>
                                        </form>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="btn-bottom-right-sidebar-close">
                    <span class="fa fa-times"></span>
                </div>
            </div>
        </aside>
    </section>

    {{ template "scripts.tmpl" . }}

</body>
</html>
