<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="">
    <title>PERFORM | Employee Information</title>
    {{ template "head.tmpl" . }}
</head>
<body id="carrot-scheme">
    <section id="container">
        {{ template "topnav.tmpl" . }}
        {{ template "sidenav.tmpl" . }}
        <section id="main-content">
            <section class="wrapper">
                {{ template "gridmenue.tmpl" . }}
                <div class="top-page-header">
                    <div class="page-title">
                        <h2>Organization Structure</h2>
                        <small>The organization structure is determined by the manager specified in each person's Employee Profile</small>
                    </div>
                    <div class="page-breadcrumb">
                        <nav class="c_breadcrumbs">
                            <ul>
                                <li class=""><a href="#">Employee Information</a></li>
                                <li class="active"><a href="/organization_structure">Organization Structure</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="c_panel">
                                            <div class="c_title">
                                                <h2>Employee</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="c_content">
                                                <div class="inner-addon right-addon margin-bottom-10">
                                                  <i class="fa fa-search"></i>
                                                  <input type="text" class="form-control" placeholder="Search" />
                                                </div>
                                                <select class="form-control margin-top-10">
                                                    <option>Robert Jones</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="c_panel">
                                            <div class="c_title">
                                                <h2>Employees working under Robert Jones</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="c_content scroller"  style="height:300px">
                                                <table class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>NAME</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header bg-wet-asphalt">
                                <h3 class="text-uppercase">Robert Jones Entire Organization</h3>
                            </div>
                            <div class="widget-content bg-white">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="c_panel">
                                            <div class="c_title">
                                                <h2></h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="c_content scroller"  style="height:300px">
                                                <table class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>NAME</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="c_panel">
                                            <div class="c_title">
                                                <h2></h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="c_content scroller"  style="height:300px">
                                                <table class="table table-striped table-bordered" style="border-spacing:0px; width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>NAME</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12345678</td>
                                                            <td>Billy Joe Smith</td>
                                                        </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    {{ template "scripts.tmpl" . }}
    <script type="text/javascript">
    $('.click').click(function() {
        $('.addinfo').removeClass('hide');
    });
    $('.cancel').click(function() {
        $('.addinfo').addClass('hide');
    });
    </script>
</body>
</html>
