<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' src="../static/js/plugin/pace/pace.min.js"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="../static/js/libs/jquery-2.1.1.min.js"><\/script>');
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="../static/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    }
</script>

<!-- IMPORTANT: APP CONFIG -->
<script src="../static/js/app.config.js"></script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
<script src="../static/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="../static/js/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="../static/js/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="../static/js/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="../static/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="../static/js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="../static/js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="../static/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="../static/js/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="../static/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="../static/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="../static/js/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->

<!-- Demo purpose only -->
<script src="../static/js/demo.min.js"></script>

<!-- MAIN APP JS FILE -->
<script src="../static/js/app.min.js"></script>

<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
<!-- Voice command : plugin -->
<script src="../static/js/speech/voicecommand.min.js"></script>

<!-- SmartChat UI : plugin -->
<script src="../static/js/smart-chat-ui/smart.chat.ui.min.js"></script>
<script src="../static/js/smart-chat-ui/smart.chat.manager.min.js"></script>

<!-- PAGE RELATED PLUGIN(S) -->

<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
<script src="../static/js/plugin/flot/jquery.flot.cust.min.js"></script>
<script src="../static/js/plugin/flot/jquery.flot.resize.min.js"></script>
<script src="../static/js/plugin/flot/jquery.flot.time.min.js"></script>
<script src="../static/js/plugin/flot/jquery.flot.tooltip.min.js"></script>

<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
<script src="../static/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../static/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- Full Calendar -->
<script src="../static/js/plugin/moment/moment.min.js"></script>
<script src="../static/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>

<script src="../static/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="../static/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="../static/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="../static/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="../static/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

<script type="text/javascript">

// DO NOT REMOVE : GLOBAL FUNCTIONS!

$(document).ready(function() {

    pageSetUp();

    /* CUSTOM dataTABLE  */
            var responsiveHelper_dataTable = undefined;

            var breakpointDefinition = {
                tablet : 1024,
                phone : 480
            };

        var otable = $('.dataTable').DataTable({
            //"bFilter": false,
            //"bInfo": false,
            //"bLengthChange": false
            //"bAutoWidth": false,
            //"bPaginate": false,
            //"bStateSave": true // saves sort state using localStorage

				// Tabletools options:
				//   https://datatables.net/extensions/tabletools/button_options

				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-5'f><'col-sm-7 col-xs-6 hidden-xs'CT>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oLanguage": {
        			"sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
        		},
        		"oTableTools": {
        			 "aButtons": [
        		     "copy",
        		     "csv",
        		     "xls",
        		        {
        		            "sExtends": "pdf",
        		            "sTitle": "SmartAdmin_PDF",
        		            "sPdfMessage": "SmartAdmin PDF Export",
        		            "sPdfSize": "letter"
        		        },
        		     	{
        	            	"sExtends": "print",
        	            	"sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
        	        	}
        		     ],
        		    "sSwfPath": "../static/js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
        		},
        		"autoWidth" : true,
        });

        // Apply the filter
        $(".dataTable thead th input[type=text]").on( 'keyup change', function () {
            var tempTable = $(this).parents('table').DataTable()
            tempTable
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw();

        } );

    /* END CUSTOM dataTABLE */

    // DELETE PROMPT
        $(".delete").click(function(e) {
        $.SmartMessageBox({
            title : "Delete Alert!",
            content : "Are you sure you want to delete this item?",
            buttons : '[No][Yes]'
        }, function(ButtonPressed) {
            if (ButtonPressed === "Yes") {

                $.smallBox({
                    title : "Item Deleted",
                    content : "<i class='fa fa-clock-o'></i> <i>This item has been removed</i>",
                    color : "#659265",
                    iconSmall : "fa fa-trash fa-2x fadeInRight animated",
                    timeout : 4000
                });
            }
        });
        e.preventDefault();
    })

})

</script>
