<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse md-box-shadowed">
        <!-- sidebar menu start-->
        <div class="leftside-navigation leftside-navigation-scroll">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sidebar-profile">

                    <div class="profile-options-container">
                        <p class="text-right profile-options"><span class="profile-options-close pe-7s-close fa-2x font-bold"></span></p>

                        <div class="profile-options-list animated zoomIn">
                            <p><a href="app-pages/page-profile-dashboard.html">Profile</a></p>
                            <p><a href="app-pages/page-profile-settings.html">Settings</a></p>
                            <p><a href="javascript:void(0)">Help</a></p>
                            <p><a href="app-pages/page-login-2.html">Log Out</a></p>
                        </div>

                    </div>

                    <div class="profile-main">
                        <p class="text-right profile-options"><i class="profile-options-open icon-options-vertical fa-2x"></i></p>
                        <p class="image">
                            <img alt="image" src="../static/images/profile.jpg" width="80">
                            <span class="status"><i class="fa fa-circle text-success"></i></span>
                        </p>
                        <p>
                            <span class="name">John Doe</span><br><br>
                            <span class="position" style="font-family: monospace;">Cultivisor</span><br>
                            <span class="position" style="font-family: monospace;">PERFORM Administrator</span>
                        </p>
                    </div>

                </li>
                <li class='sub-menu '><a href="" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar icon-home fa-2x'></span><span>Company Information</span></a>
                    <ul class='sub'>
                        <li><a href="/business_results_overview">Buisiness Results</a></li>
                        <li><a href="/job_information_overview">Job Information</a></li>
                        <li><a href="#">Organization Structure</a></li>
                    </ul>
                </li>
                <li class='sub-menu '><a href="" class="hvr-bounce-to-right-sidebar-parent active"><span class='icon-sidebar icon-screen-desktop fa-2x'></span><span>Employee Information</span></a>
                    <ul class='sub'>
                        <li><a href="/employee_overview" class="active">Employee Information</a></li>
                        <li><a href='/employee_profile'>Employee Profile</a></li>
                        <li><a href="#">Job Canidates</a></li>
                        </li>
                    </ul>
                </li>
                <li class='sub-menu '><a href="" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-portfolio fa-2x'></span><span>Employee Development</span></a>
                    <ul class='sub'>
                        <li><a href="/learning_activities_overview">Learning Activities</a></li>
                        <li><a href="#">Career Planning</a></li>
                        <li><a href="#">Course Sessions</a></li>
                        <li><a href="/course_registrations">Course Registrations</a></li>
                    </ul>
                </li>
                <li class='sub-menu '><a href="" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-display2 fa-2x'></span><span>Employee Reviews</span></a>
                    <ul class='sub'>
                        <li><a href="#">Performance Reviews</a></li>
                        <li><a href="#">Accountavility Reviews</a></li>
                        <li><a href="#">Good Practices</a></li>
                    </ul>
                </li>
                <li class='sub-menu '><a href="" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-folder fa-2x'></span><span>Employee Performance</span></a>
                    <ul class='sub'>
                        <li><a href="#">One-To-One Measurements</a></li>
                        <li><a href="#">One-To-Many Measurements</a></li>
                        <li><a href="#">Peer-To-Peer Measurements</a></li>
                        <li><a href="#">Observation Goals</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>    <!--sidebar end-->
