<li class='sub-menu '><a href="#" class="hvr-bounce-to-right-sidebar-parent active"><span class='icon-sidebar icon-home fa-2x'></span><span>Company Information</span></a>
    <ul class='sub'>
        <li><a href="/business_results_overview">Buisiness Results</a></li>
        <li><a href="/job_information_overview">Job Information</a></li>
        <li><a href="#">Organization Structure</a></li>
    </ul>
</li>
<li class='sub-menu '><a href="1" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar icon-screen-desktop fa-2x'></span><span>Employee Information</span></a>
    <ul class='sub'>
        <li><a href="/employee_information_overview">Employee Information</a></li>
        <li><a href="/employee_profile_overview">Employee Profile</a></li>
        <li><a href="#">Job Canidates</a></li>
    </ul>
</li>
<li class='sub-menu '><a href="1" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-portfolio fa-2x'></span><span>Employee Development</span></a>
    <ul class='sub'>
        <li><a href="/learning_activities_overview">Learning Activities</a></li>
        <li><a href="#">Career Planning</a></li>
        <li><a href="#">Course Sessions</a></li>
        <li><a href="#">Course Registrations</a></li>
    </ul>
</li>
<li class='sub-menu '><a href="1" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-display2 fa-2x'></span><span>Employee Reviews</span></a>
    <ul class='sub'>
        <li><a href="#">Performance Reviews</a></li>
        <li><a href="#">Accountavility Reviews</a></li>
        <li><a href="#">Good Practices</a></li>
    </ul>
</li>
<li class='sub-menu '><a href="1" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-display2 fa-2x'></span><span>Employee Performance</span></a>
    <ul class='sub'>
        <li><a href="#">One-To-One Measurements</a></li>
        <li><a href="#">One-To-Many Measurements</a></li>
        <li><a href="#">Peer-To-Peer Measurements</a></li>
        <li>Observation Goals</a></li>
    </ul>
</li>
